<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <title>Search - UCSB Digital Repository</title>
  </head>
  <body>
  <h3>Search</h3>
  <p>Search for ETDs </p>

  <%= form_tag('search_results', :multipart => true) do %>
  <table>
  	<tr>
    	<td><%= label_tag 'name', 'Name:' %></td>
    	<td><%= text_field_tag 'name', '', :size => '35' %></td>
  	</tr>
  	<tr><td colspan="2">&nbsp;</td></tr>
    <tr><td colspan="2">Enter the name or part of the name of the Author, or Committee member</td></tr>
  	<tr><td colspan="2">&nbsp;</td></tr>
  	<tr>
  		<td><%= label_tag 'title', 'Title: ' %></td>
    	<td><%= text_field_tag 'title', '', :size => '35' %></td>
  	</tr>
  	<tr>
  		<td><%= label_tag 'ark', 'ARK: ' %></td>
    	<td><%= text_field_tag 'ark', '', :size => '35' %></td>
  	</tr>
  	<tr>
  		<td><%= label_tag 'pdf', 'PDF Filename: ' %></td>
    	<td><%= text_field_tag 'pdf', '', :size => '35' %></td>
  	</tr>
  	<tr>
  		<td><%= label_tag 'other_id', 'Other ID Number: ' %></td>
    	<td><%= text_field_tag 'other_id', '', :size => '35' %></td>
  	</tr>
  	<tr><td colspan="2">&nbsp;</td></tr>
    <tr><td colspan="2">such as ISBN, OCLC, ILS/Aleph Bib Number</td></tr>
  	</table>
  	<p><%= submit_tag 'Search' %></p>
  	<hr>
  		OR: <br/>
  		<h3><%= link_to 'Ingest new ETDs', "http://localhost:3000/ingest/ingest" %></h3>

  <% end %>
  </body>
</html>

