<div id="content" class="span12">
<h1><%=t('blacklight.search_history.title')%></h1>
<%- if @searches.blank? -%>
  <h2><%=t('blacklight.search_history.no_history')%></h2>
<%- else -%>
    <p>
    <%= link_to t('blacklight.search_history.clear.action_title'), clear_search_history_path, :method => :delete, :data => { :confirm => t('blacklight.search_history.clear.action_confirm') } %>
    </p>
  <h3><%=t('blacklight.search_history.recent')%></h3>
  <table class="table table-striped search_history">
    <%-  @searches.each_with_index do |search,index| -%>
    <%= content_tag :tr, :id => "document_#{index + 1}" do %>
      <td class="query"><%= link_to_previous_search(search.query_params) %></td>
      <%- if has_user_authentication_provider? -%>
        <td class="actions">
          <%- if current_or_guest_user && search.saved? -%>
            <%#= button_to t('blacklight.search_history.forget'), forget_search_path(search.id) %>
          <%- else -%>
            <%#= button_to t('blacklight.search_history.save'), save_search_path(search.id), :method => :put %>
          <%- end -%>
        </td>
      <%- end -%>
    <% end #content_tag %>
  <%- end -%>
  </table>
<%- end -%>
</div>
