<%= form_tag ('ucsb_email'), :method => :post do %>

<div class="modal-body">
	<%= render :partial=>'/flash_msg' %>
	<div class="control-group">
		<label class="control-label" for="to"> <%= t('blacklight.email.form.to') %> </label>
		<div class="controls">
			<%= text_field_tag :toe, params[:toe] %>
			<br/>
			<%= hidden_field_tag "frome", "timayodele@gmail.com" %>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="message"> <%= t('blacklight.email.form.message') %> </label>
		<div class="controls">
			<%= text_area_tag :messagee, params[:messagee] %>
		</div>
	</div>
	<div class="modal-footer">
		<button type="submit" class="btn btn-primary">
			<%= t('blacklight.sms.form.submit') %>
		</button>
	</div>
</div>

<% end %>
