﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
		<link href="_contact_form.css.scss" rel="stylesheet" />
	</head>

	<body class="contact_form_setbody">

		<h1 class="contact_form_setcontactus">Contact Us!</h1>
		<div class="contact_form_alert">
                Please use the contact form to submit general questions about the Alexandria Digital Research Library website, to report a problem you are experiencing with the system, or to provide feedback.		
</div></br>
		<%= form_tag ('ucsb_form'), :method => :post do %>
		<!-- ><form id="contact_form_new_contact_form" accept-charset="UTF-8" action="/controllers/ucsb_mailer/ucsb_contactForm" class="contact_form_form_horizontal" method="post"> -->
		<div class="contact_form_alert_div"></div>
		<div class="contact_form_control-group">
			<label class="contact_form_control-label" for="contact_form_category">Issue Type (Please Select)</label>
			<div class="contact_from_controls_div_label">
				<select id="contact_form_contact_form_category" name="contact_form[category]">
					<span class="Apple-converted-space"></span>
					<option value="General inquiry or request" selected="selected">General Inquiry or Request</option>
					<span class="Apple-converted-space"></span>
					<option value="Feedback">Feedback</option>
					<span class="Apple-converted-space"></span>
					<option value="Reporting a problem">Problem Report</option>
					<span class="Apple-converted-space"></span>
				</select>
			</div>
		</div>
		<div class="contact_form_control-group">
			<label class="contact_form_control-label" for="contact_form_name">Your Name</label>
			<div class="contact_from_controls">
				<input id="contact_form_contact_form_name" class="contact_form_input-xlarge" name="name" required="required" type="text" value="" />
			</div>
		</div>
		<div class="contact_form_control-group">
			<label class="contact_form_control-label1" for="contact_form_email">Your
				Email</label>
			<div class="contact_from_controls">
				<input id="contact_form_email" class="contact_form_input-xlarge" name="email" required="required" type="text" value="" />
			</div>
		</div>
		<div class="contact_form_control-group-invisible">
			<label class="contact_form_control-label1" for="contact_form_zipcode">Your
				Zip Code (Humans: Leave This Empty)</label>
			<div class="contact_from_controls">
				<input id="contact_form_zipcode" class="contact_form_input-xlarge" name="zipcode" type="text" value="" />
			</div>
		</div>
		<div class="contact_form_control-group">
			<div class="contact_from_controls">
				<input id="contact_form_referer" class="contact_form_input-xlarge" name="referer" type="hidden" value="<%= request.env['HTTP_X_XHR_REFERER'] %>" />
			</div>
		</div>
		<div class="contact_form_control-group">
			<label class="contact_form_control-label3" for="contact_form_message">Message</label>
			<div class="contact_from_controls">
				<textarea id="contact_form_contact_form_message" class="contact_form_input-xlarge1" cols="20" name="message" required="required" rows="7"></textarea>
			</div>
		</div>
		<div class="contact_form_form-actions">
			<input class="contact_form_btn-primary" name="commit" type="submit" value="Send" />
		</div>
		<!-- </form> -->
		<% end %>

	</body>

</html>
