<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <title>Ingest - UCSB Digital Repository</title>
  </head>
  <body>
  <h3>Delete/Suppress ETDs</h3>
  <p><font color="red">The record below has been suppressed and will no longer be accessible. </font></p> <br /><br />
  	<hr>
  	<p>
    	<%= label_tag 'title', 'Title:' %>
    	<%= @etd.descMetadata.title[0].to_s %>
  	</p>

  	<p>
    	<%= label_tag 'ark', 'ARK:' %>
        <%= format_ark(@etd.pid) %>
  	</p>

        <p>
          <%= label_tag 'author', 'Author Name:' %>
	  <%= @etd.author_family.to_s + ', ' +@etd.author_given.to_s %>
        </p>

        <p>
        <%= label_tag 'publisher', 'Published:' %>
        <%= @etd.publisher_name %>
        </p>

  	<p>
    	<%= label_tag 'date_created', 'Date Created:' %>
    	<%= @etd.create_key_date[0] %>
  	</p>

        <p>
        <%= label_tag 'isbn', 'ISBN:' %>
        <%= @etd.isbn %>
        </p>

        <p>
        <%= label_tag 'oclc', 'OCLC:' %>
        <%= @etd.oclc %>
        </p>
  	
  </body>
</html>

