<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <title>Delete - UCSB Digital Repository</title>
  </head>
  <body>
  <% url = APP_CONFIG['rails_url'] %>
  <%= yield%>
  <h3>Delete/Suppress ETDs</h3>
<%- e = ETD.find(params[:id]) -%>
<%# if (can?(:delete, e)) &&(current_user.groups.include?("admin")) %>
<%- if (can?(:delete, e)) %>
  <p>If you are sure you want to completely supress access to this Dissertation or Thesis please enter a short reason below and confirm this change. or  
  	<%= link_to 'go back', (url + 'catalog/'+((@etd.pid))) %>
  </p> <br />

  <%= form_tag('delete_confirm', :multipart => true) do %>
    <hr>
    <p>
      <%= label_tag 'title', 'Title:' %>
      <%= @etd.descMetadata.title[0].to_s %>
    </p>

    <p>
      <%= hidden_field_tag 'pid', @etd.pid %>
      <%= label_tag 'ark', 'ARK:' %>
      <%= format_ark(@etd.pid) %>
    </p>

    <p>
      <%= label_tag 'author', 'Author Name:' %>
      <%= @etd.author_family.to_s + ', ' +@etd.author_given.to_s %>
    </p>

    <p>
      <%= label_tag 'publisher', 'Published:' %>
      <%= @etd.publisher_name %>
    </p>
    <p>
      <%= label_tag 'date_created', 'Date Created:' %>
      <%= @etd.create_key_date[0] %>
    </p>

    <p>
      <%= label_tag 'isbn', 'ISBN:' %>
      <%= @etd.isbn %>
    </p>
    <p>
      <%= label_tag 'oclc', 'OCLC:' %>
      <%= @etd.oclc %>
    </p>
    <hr>

    <p>
      <%= label_tag 'reason', 'Reason for supression: ' %>
      <%= text_field_tag 'reason_delete', '', :size => '100' %>
    </p>
    <p><%= submit_tag 'Confirm' %></p>
    <p> <%= link_to 'BACK', (url + 'catalog/'+(@etd.pid)) %></p> <br />
  <% end %>
<%- else %>
  <h4><font color="red">You don't have enough privileges to access this page</font></h4>
  <p> <%= link_to 'BACK', (url + 'catalog/'+(@etd.pid)) %></p> <br />
<%- end %>
  </body>
</html>

