<% url = APP_CONFIG['rails_url'] %>
<div id="page_footer">
	<div id="footer">
		<p>
		<!-- <a href="/catalog"><b>Search & Research</b></a> | -->
		<!-- <a href="/">Help</a> | --><a href="/welcome/about">About ADRL</a> |
		<!--a href="/welcome/contact_us">Contact Us</a-->
		<a href="/ucsb/ucsb_form1">Contact Us</a> </p>
		<div class="copyright">
			Copyright &copy; 2014 The Regents of the University of California, All Rights 
			Reserved. </div>
		<!-- div copyright ends -->
		
		<div id="footer_logo">

			<!-- div footer_brand_updated ends -->
			<div id="footer_right">
				<div class="footer_right_updated">
					<a href="http://www.library.ucsb.edu">
					<!--img alt="Adrl logo 363x84" src="/assets/blacklight/ADRL_Footer_LogoBlock.png"></a-->
					<img alt="Adrl logo 363x84" src="/assets/blacklight/library-logo.png"></a>
				</div>	<!-- div footer_right_updated ends -->

				<div class="footer_right_bottom">
					<a href="http://www.ucsb.edu">
					<img alt="UCSB logo" src="/assets/blacklight/UCSB-footer-logo.png"></a>
				</div>	<!-- div footer_right_bottom ends -->

			<!-- div footer_right ends --></div>
		<!-- div footer_logo ends --></div>
	<!-- div footer ends --></div>
<!-- div page_footer ends --></div>
