<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <title>Ingest - UCSB Digital Repository</title>
  </head>
  <body>
    <% fedora_url = APP_CONFIG['fedora_url'] %>
    <% fedora_port = APP_CONFIG['fedora_port'] %>
    <% @adrl_url = APP_CONFIG['adrl_url'] %>
    <% @ark_url = APP_CONFIG['ark_url'] %>
  	<%= yield%>
          <h4>
            <%= @hist.count %>
            object(s) created,
            <%= @dup_rec.count %>
            duplicate object(s) skipped,
            <%= @skip_rec.count %>
            malformed record(s) skipped!
          </h4>

	<% if !@hist.blank? %>
	  <b>New ETDs have been ingested: </b>
	  <ol id="etds">
	  <% (0..(@hist.count-1)).each do |h| %>
	  <% @hist[h].each do |v| %>
	    <li>
	      <%= label_tag 'ark_id', 'ARK Id: '+"#{v.values_at("Ark")[0]}" %>

              <%= label_tag 'aleph', 'ALEPH System Number: '+"#{v.values_at("Aleph")[0]}" %>

	      <%= label_tag 'author', 'Author: '+"#{v.values_at("Author")[0]}" %>

	      <%= label_tag 'title', 'Title: '+"#{v.values_at("Title")[0]}" %>

	      <%= label_tag 'date', 'Date: '+"#{v.values_at("Date")[0]}" %>

	      <%- message = "#{v.values_at("Message")[0]}" -%>

	      <% if ("#{message}".include? "Success") %>
	        <%= label_tag 'message', 'Ingest Message: '+"#{message}" %>
	        <%- a = getOriginalARK("#{v.values_at("Ark")[0]}") -%>
		<%- a = a.gsub(@ark_url, @adrl_url) -%>
	        <%- e = ETD.find("#{a}") -%>
	        <%- link = fedora_url + '/fedora/objects/'+(e.pid)+'/datastreams/' -%>

	        <%= link_to ("#{e.properties.content_file[0]}"), (link + 'dataContent/content'), :target => "_blank" %> <br />
	      
	        <%- f = ("#{v.values_at("Ark")[0]}") -%>
	        <%= link_to ("#{f}"+'_mods.xml'), (link + 'descMetadata/content'), :target => "_blank" %> <br />
	      
	        <%- c = getSuppContentCount(e) -%>
	        <% if(!c.nil?) %>
	          <% (0..c).each do |count| %>
		    <%- s = 'suppContent'+count.to_s() -%>
                    <%= link_to (e.send(s).dsLabel), (link + 'suppContent'+count.to_s()+'/content'), :target => "_blank" %>
		    <br />
	          <% end %> 
	        <% end %>
	      <% else %>
	        <%- error_msg = message.truncate(150) -%>
		<font color="red">
	        <%= label_tag 'message', 'Ingest Message: '+"#{error_msg}" %>
		</font>
	      <% end %>
	    </li>
	    <hr>
	  <% end %>
	  <% end %>
	  </ol>
	</br>

	<% end %>

	<% if !@dup_rec.blank? %>
	  <b>Duplicate Records</b>
          <ol id="dup_rec">
            <% @dup_rec.each do |d| %>
              <li>
                <%# label_tag 'pdf_name', 'PDF Name: '+d %>
                <%= label_tag 'pdf_name', ''+d %>
              </li>
            <% end %>
          </ol>
	<% end %>

	<%# skipped records %>
        <% if !@skip_rec.blank? %>
          <b>Skipped Records</b>
          <ol id="skip_rec">
            <% @skip_rec.each do |s| %>
            <% s.each do |i| %>
              <li>
                <%# label_tag 'skip_name', ''+s.to_s %>
                <%= i.to_s %>
              </li>
            <% end %>
            <% end %>
          </ol>
        <% end %>


  </body>
</html>
