<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <title>Ingest - UCSB Digital Repository</title>
  </head>
  <body>
  <%= yield%>

  <h3>Ingest new ETDs</h3>
  <% if (!(current_user.nil?)) && ((current_user.groups.include?("admin")) || (current_user.groups.include?("staff"))) %>
      <% if !@form_errors.nil? %>
	<% @form_errors.each do |err| %>
	  <h5><font color="red"><%= err %></font></h5>
	<% end %>
      <% end %>
    <p>Browse to a local copy of the .mrc file.</p>

    <%= form_tag('ingestFile', :multipart => true) do %>
      <p>
      	  <%= label_tag 'marc', 'MARC File:' %>
    	  <%= file_field_tag 'ingest' %>
    	  <br /><br />
      </p>
      <p>
  	  <%= label_tag 'etd', 'ETD Location: ' %>
    	  <%= text_field_tag 'etd_location', '', :size => '100' %>
      </p>
      <p><%= submit_tag 'Ingest ETDs' %></p>
    <% end %>
  <% else %>
    <h5><font color="red">You don't have enough privileges to access this page</font></h5>
  <% end %>
  </body>
</html>
