<% url = APP_CONFIG['rails_url'] %>
<% fedora_url = APP_CONFIG['fedora_url'] %>
<% port = APP_CONFIG['rails_port'] %>
<% on_campus = session[:on_campus] %>

<div class="page-header-splash">

	<div class="page-header-container">
		<div class="header-splash-top-links">
			<p>
			<br></br>
			<a href="/bookmarks"><font color="white">Bookmarks</font></a>
			&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="/search_history"><font color="white">History</font></a>
			</p>

			<!--a class="RightLink" href="http://proxy.library.ucsb.edu:2048/login?url=http%3A%2F%2Falexandria.ucsb.edu%2F" style="left: -61px; top: 0px; width: 14%">Off-Campus Login</a-->


<div class="util-links-login off-campus-login-link">
	<ul class="nav navbar-nav navbar-right">
		<li id="menu1" class="dropdown1" style="left: 23px; top: 0px; width: 186px">
		<div class="dropdown dropdown-login test"> 
                    <% if(on_campus) %>
			<p>Logged In<p>
                    <% else %>
                        <a class="dropdown-toggle RightLink" data-toggle="dropdown" href="welcome/off_campus_login">Off-Campus Login </a>
                    <% end %>
		</div>

<div class="dropdown-menu dropdown-login-menu-slash">
		   <div class="login-main-slash">
			<div class="login-text-slash"> 
				<h2>Off-Campus Login</h2>
				<p>Bibliographic records of all materials in the Alexandria Digital 
				Research Library are accessible to the public. Due to copyright 
				and other access restrictions, some items are only available to 
				UCSB faculty, students, and staff. When accessing the site from 
				off-campus, UCSB users should login using a UCSB NetID and password 
				to view items restricted to the University community. </p>
			</div>							
		    	<div class="login-margin-slash">&nbsp;</div>
			<div class="off-campus-wrapper-slash">
			<!--form id="offcampus-login-form" action="http://proxy.library.ucsb.edu:2048/login?url=http://alexandria.ucsb.edu/" method="post"-->

			<% login_url = "http://proxy.library.ucsb.edu:2048/login?url=" + url %>
			<%# login_url = "http://proxy.library.ucsb.edu:2048/login?url=http://alexandria.ucsb.edu/" %>
			<form id="offcampus-login-form-slash" action=<%= login_url %> method="post">
				<div class="login-form-slash">
				<br>
					<div class="login-form-content-slash">
						<label class="label-username-slash" for="username">UCSB NetID</label>
						<input class="input-username-slash" id="username" name="user" tabindex="4" title="UCSB NetID" type="text" value=""/>
						<label class="label-password-slash" for="password">Password</label>
				        	<input class="input-password-slash" id="password" name="pass" tabindex="5" title="password" type="password" value=""/>
						<input class="login-button-slash" tabindex="6" type="submit" value="Login" />	&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="https://secure.identity.ucsb.edu/manager/">Forgot your login?</a>
					</div>
				</div>
			</form>
			</div> <!-- off-campus-wrapper ends here -->
		   </div> <!-- login_main ends here -->
		</div>
		</li>
	</ul>
</div>



		</div><!-- header-splash-top-links ends here -->

		<div class="imageset">
			<div class="auto-style2">
				<div class="logo_image">
				<a href="/" >
				<!--<img alt="Adrl logo 363x84" src="Alexandria%20Digital%20Research%20Library_files/ADRL_Logo_363x84.png" width="805"></a>-->
				<%#= image_tag("blacklight/ADRL_Logo_363x84.png", width: '805') %></a>
				<%= image_tag("blacklight/ADRL_Large_Logo_805x186.png") %></a>
				</div>
			</div>

			<div class="auto-style3 splash-search-bar">
				<%#= render_search_bar  %>
				<%= render_splash_search_bar  %>
			</div> <!-- auto-style3 div ends -->
			<div class="auto-style4">
				Browse by <a href="/catalog">Collection</a> 
			</div>
		</div> <!-- imageset div ends -->

	</div> <!-- page-header-container div ends -->
</div> <!-- page-header-container div ends -->

