
<div> 

<h4><%= t('blacklight.welcome') %></h4>
  <p> Splash Page goes here </p> <br />

<p>&nbsp;</p>
<!--p>To modify this text to your specifications, copy this file located in the blacklight plugin directory:<br/>
&nbsp;&nbsp;&nbsp;<%= Blacklight.root %>/app/views/catalog/_home_text.html.erb</p>
<p>to your top level rails app:<br/>
&nbsp;&nbsp;&nbsp;<%= Rails.root %>/app/views/catalog/_home_text.html.erb</p>
<p>Note that you will need to create the 'catalog' directory under views.</p-->
<% #Creates a bit space in the page -%>

</div>
