
<div id="welcome_contact_us" >

  <div>
    <h3><b>Contact Us at:</b></h3><a href="mailto:adrl@alexandria.ucsb.edu">adrl@alexandria.ucsb.edu</a>
  </div>
  <hr />

  <p>If you can't find what you need, <a href="http://www.library.ucsb.edu/help/ask-librarian">Ask a Librarian</a>!</p>
  <h4>Main Reference</h4>
  <ul>
    <li><a href="http://www.library.ucsb.edu/contact-reference-desk">Davidson Library Reference &amp; Information Desk</a></li>
    <li><a href="http://www.questionpoint.org/crs/servlet/org.oclc.home.TFSRedirect?virtcategory=12572">Chat Reference</a></li>
    <li><a href="http://www.library.ucsb.edu/form/ask">Email Reference</a></li>
    <li><a href="http://www.library.ucsb.edu/subject-librarians">Subject Librarians</a></li>
  </ul>

  <h4>Other Library Contacts</h4>
  <ul>
    <li><a href="http://www.library.ucsb.edu/departments-units">Departments, Units, and Service Locations</a></li>
    <li><a href="http://www.library.ucsb.edu/human-resources/contact">Human Resources</a></li>
    <li><a href="http://www.library.ucsb.edu/staff">Staff Directory</a></li>
    <li><a href="http://www.library.ucsb.edu/mailing-address">Mailing Address</a></li>
    <li><a href="http://www.library.ucsb.edu/about-library/deliveryloading-dock-directions">Delivery/Loading Dock Directions</a></li>
    <li><a href="http://www.library.ucsb.edu/form/suggestion">Suggestions</a></li>
    <li><a href="http://www.library.ucsb.edu/development/contact">Support the Library</a></li>
  </ul>

</div>
