<% url = APP_CONFIG['rails_url'] %>
<%#= session[:on_campus] %>

<div class="page-splash-container">

  <div class="page_main">
    </br></br>
	<div id="main_header">
	  <p>Providing access for research, teaching and discovery to unique 
	  digital research materials from UC Santa Barbara Library. 
	  <!--Currently containing <%#= @count %> digital objects and growing.--></p>
<!--Splash<%#=@splash_page%>-->
	</div>
	
	<div class="page_submaininner">
	  <div id="leftcolumn" class="InnerDiv1">
	    <h4>About This Site</h4>
	    <p>The Alexandria Digital Research Library (ADRL) is UC 
	    Santa Barbara Library's home for collections of 
	    digital research materials. Building on the 
	    expertise that UCSB developed in the 1990s with the 
	    Alexandria Digital Library, the new ADRL will be a 
	    comprehensive digital library featuring unique 
	    research texts, data, images, maps, and audio and 
	    video recordings. ADRL launched in April 2014, with 
	    its first collection: <a href="/catalog?f%5Bobject_type_sim%5D%5B%5D=Thesis+or+dissertation">electronic theses and dissertations</a> 
	    by UCSB students.</p>
	    <a href="/welcome/about">Read more...</a>
          </div>
	  <% login_url = "http://proxy.library.ucsb.edu:2048/login?url=" + url %>
	  <%# login_url = "http://proxy.library.ucsb.edu:2048/login?url=http://alexandria.ucsb.edu/" %> 
          <div id="rightcolumn" class="InnerDiv2">
            <h4>How to Use This Site</h4>
	    <p>Enter one or more words into the search box above 
            to search the bibliographic records of all items in the 
	    Alexandria Digital Research Library, or select 
	    "Browse by collection" to explore a specific 
	    collection. Some materials in ADRL are subject to 
	    copyright and other access restrictions. Therefore, 
	    not all materials are made available to the public. 
	    When accessing the site from off-campus, UCSB 
            users should <a href="welcome/off_campus_login">login</a> using a UCSB NetID and
	    password to view items restricted to the University 
	    community.</p>
      	  </div>

	</div><!--page_submaininner div ends -->

	<div id="admin_links">
	  <%- if (!(current_user.nil?)) && ((current_user.groups.include?("admin")) || (current_user.groups.include?("staff"))) %>
	    <h4><i><b>Admin Links: </b></i></h4>
	    <h5><i><%= link_to 'Batch Ingest', (url + 'ingest/ingest') %></i></h5> <br /><br />
	  <%- end %>
	  
	</div>

  </div><!--page_main div ends -->
</div><!--page-container div ends -->

