<% url = APP_CONFIG['rails_url'] %>
<% login_url = "http://proxy.library.ucsb.edu:2048/login?url=" + url %>


<div class="login-main">
		<div class="login-text">
			<strong><h2>Off-Campus Login</h2></strong>
			<p>Bibliographic records of all materials in the Alexandria Digital 
			Research Library are accessible to the public. Due to copyright 
			and other access restrictions, some items are only available to 
			UCSB faculty, students, and staff. When accessing the site from 
			off-campus, UCSB users should login using a UCSB NetID and password 
			to view items restricted to the University community. </p>
		</div>

		<div style="width: 50px; float: none">
		</div>
		<div class="off-campus-wrapper">
			<!--form id="offcampus-login-form" action="https://login.proxy.library.ucsb.edu:9443/login" method="post"-->
			<form id="offcampus-login-form" action=<%= login_url %> method="post">
				<div class="login-form login-auto-style2" align="center">
					<br>
					<div class="login-form-content">
						<label class="label-username" for="username">UCSB NetID</label></br>
						<input class="input-username" id="username" name="user" tabindex="4" title="UCSB NetID" type="text" value=""></br>
						<label class="label-password" for="password">Password</label></br>
						<input class="input-password" id="password" align="center" name="pass" tabindex="5" title="password" type="password" value=""><br></br>
						<input class="login-button" tabindex="6" type="submit" value="Login">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
						<a href="https://secure.identity.ucsb.edu/manager/">Forgot your login?</a> 
					</div> <!-- login-form-content ends here -->
				</div> <!-- login-form ends here -->
			</form>
		</div> <!-- off-campus-wrapper ends here -->
</div><!-- login_main ends here -->


