#etds_collections_body{
 # min-width:900px;
 # min-height:100px;
  min-width: 100%;
  min-height: 100%;
  margin-left:auto;
  margin-right:auto;
  width: 100%;
  height:100%;
  /*border: 2px black solid;*/
} /* etds_collections_body ends */

#etds_collections_body h1{
  font: normal 225% 'century gothic', arial, sans-serif;
  color: #43423F;
  /*border: 2px red solid;*/
}

#etds_collections_body p.collections_header{
  font: bold 28px 'Helvetica Neue', Helvetica,Arial,sans-serif;
  color: #43423F;
  /*border: 2px red solid;*/
}

#etds_view_link{
  //color: red;
  //width:30%;
  //margin-left: 60%;
  //padding-left: 10%;
  //border: 2px magenta solid;
  height: 4%;
  border:thin #E3E3E3 solid;
  background: #F5F5F5;
  border-radius:5px;
  margin-bottom: 4%;
}

#etds_view_link p{
  padding-left: 4%;
  //padding-top: 0.75%;
  padding-top: 1.2%;
  font: normal 14px 'Helvetica Neue', Helvetica,Arial,sans-serif;
  line-height: 1.2;
}

#etds_view_link a{
  color: red;
}

/*
#etds_collections_container{
  min-width:32%;
  width:32%;
  float:left;
  border: 2px magenta solid;
}

#etds_collections_container_2{
  min-width:38%;
  width:38%;
  float:left;
  border: 2px orange solid;
}
*/

#etds_collections_sidebar_image{
  /*min-width:32%;
  width:32%;
  min-width:40%;
  width:40%;
  width:50%;
  min-width:50%;*/
  /*height: 100%;
  min-width:25%;
  width:25%;*/
  min-width: 25%;
  width: 25%;
  height: 17%;
  float:left;
  margin-bottom: 10%;
  //border: 2px magenta solid;
}

#etds_collections_sidebar_image img{
  width:150px;
  height: 150px;
  //height: 150px;
  //border: 2px green solid;
}

#etds_collections_sidebar_image p{
  width: 100%;
  margin-top:0%;
  /*border: 2px green solid;*/
}

#etds_collections_content{
  /*min-width:43%;
  width:43%;
  margin-top: -1%;
  min-width:55%;
  width:55%;
  margin-top: -2%;
  min-width:45%;
  width:45%;*/
  min-width:70%;
  width:70%;
  margin-top: -1%;
  float:left;
  //border: 2px blue solid;
}

#etds_collections_content p{
  //padding-left: 5%;
  //font-size: 115%;
  /*font: normal 75% , arial, sans-serif;*/
  font: 14px 'Helvetica Neue', Helvetica,Arial,sans-serif;
  line-height: 16px;
  //border: 2px orange solid;
}

#etds_collections_content a{
  //padding-left: 5%; 
  font: bold 14px 'Helvetica Neue', Helvetica,Arial,sans-serif;
  color: #004E6E;
}

#temp{
  /*border: 2px orange solid;*/
  min-width: 20%;
}


@media (max-height: 580px) {
  /* line 140, /rails/ab_hydra_head19/app/assets/stylesheets/blacklight/_collections.css.scss */
  #etds_collections_sidebar_image img {
    height: 150px !important;
  }
}

@media (max-width: 580px) {
#etds_collections_sidebar_image  {
  
  width: 150px !important;
}

#etds_collections_sidebar_image img {
  
  height: 150px !important;
}
}

