/*
  Footer bar at bottom(Bootstrap nav-bar)
*/
/* Footer images variables */
$footer_background_border: 'blacklight/ADRL_BG_1280x160.png';
$footer_logo_image: 'blacklight/UCSB_Lib_Logo_160x30.png';
$footer_ucsb_logo_image: 'blacklight/logo.png';
#page_footer {
  width: 100%;
  height: 100%;
  position: relative;
  //border: 2px solid black;
}

#footer {
  //font: normal 100% 'trebuchet ms',  arial, sans-serif;
  font: 14px 'Helvetica Neue',Helvetica,Arial,sans-serif;
  //margin-left:35px;

  #width: 1200px;
  width: 100%;
  height: 100%;
  #height: 105px;
  #padding: 10px 32px 2px 0;
  padding: 10px 0px 2px 0;
  color: black;
  background: transparent image_url($footer_background_border) repeat;
  position: relative;
  /*border: 2px solid black;*/
  /* end of footer_logo */
  //border: 2px solid orange;
}

#footer a {
  color: white;
  /*text-decoration: underline;*/
  text-decoration: none;
}

#footer a:hover {
  color: #FFF;
  text-decoration: none;
}

#footer p {
  width: 600px;
  margin-left: 20px;
  margin-top: 10px;
  padding: 0 0 10px 0;
}

#footer #footer_logo {
  /* The main footer logo image for the Blacklight instance */
  /*          align: center;
            #margin-left: 970px;
            #width: 250px;
            #height: 35px;
            margin-left: 70%;
            width: 25%;
            height: 100%;
            #height: 60px;
            #background: transparent image_url($footer_logo_image) no-repeat top right;
            display: inline-block;
            text-indent: 100%;
            overflow: hidden;
            #margin-top: -5%;
            #margin-bottom: -50%;
            margin-top: -45px;
            margin-bottom: 30px;
            border: 2px solid orange;
  */
  //border: 2px solid magenta;
}

#footer #footer_logo table, #footer #footer_logo tr, #footer #footer_logo td {
  //border: 2px solid red;
}

#footer #footer_logo .footer_brand {
  /* The main footer logo image for the Blacklight instance */
  align: center;
  #margin-left: 970px;
  #width: 250px;
  #height: 35px;
  margin-left: 75%;
  width: 15%;
  #height: 100%;
  height: 40px;
  background: transparent image_url($footer_logo_image) no-repeat top right;
  display: inline-block;
  text-indent: 100%;
  overflow: visible;
  //margin-top: -45px;
  //margin-bottom: 30px;
  margin-top: -40px;
  margin-bottom: 20px;
  position:relative;
  //border: 2px solid yellow;
}

#footer #footer_logo .footer_ucsb {
  /* The main footer logo image for the Blacklight instance */
  align: right;
  #height: 35px;
  margin-left: 76.5%;
  //width: 5%;
  #height: 100%;
  height: 35px;
  left: -11px; 
//  top: 0px; 
  width: 6%;
  background: transparent image_url($footer_ucsb_logo_image) no-repeat top right;
  display: inline-block;
  text-indent: 100%;
  overflow: visible;
  //margin-top: -35px;
  //margin-bottom: 20px;
  margin-top: -75px;
  margin-bottom: -7px;
  position:relative;
  //border: 2px solid green;
}

#footer #footer_logo #footer_text {
  //margin-left: 82%;
  //margin-top: -65px;
  //margin-bottom: 30px;
  margin-left: 82%;
  margin-top: -35px;
  margin-bottom: 30px;
  width: 16%;
  height: 40%;
  color: #FFF;
  font: bold 14px 'Helvetica Neue',Helvetica,Arial,sans-serif;
  //border: 2px solid red;
}

#footer #footer_logo #footer_text #footer_text_address{
  display: inline-block;
  font: 14px 'Helvetica Neue',Helvetica,Arial,sans-serif;
  //border: 2px solid green;
}


#footer .copyright {
  position: relative;
  left: 0%; 
//  top: 56px; 
//  height: 43px; 
//  top: 3%; 
  top: 2%; 
  height: 50%; 
  width: 40%;
  margin-left: 1.5%;
  color: #FFF;
  #white-space: pre-wrap;
  #overflow-wrap: normal;
  font-size: 11px;
  //border: 2px solid red;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) and (max-width:900px) {
/* Styles */
#footer #footer_logo {
  #min-width:100%;
  #width:auto;
}

#footer #footer_logo .footer_brand {
  /* The main footer logo image for the Blacklight instance */
  
  
  #width:100%;
  #min-width: 5%;
  
 
  /*border: 2px solid magenta;*/
}

#footer #footer_logo .footer_ucsb {
  /* The main footer logo image for the Blacklight instance */
  
  #margin-left: 76.5%;
  #min-width: 5%;
  #width:100%;
  
  /*border: 2px solid green;*/
}
#footer .copyright {
    top: 1%;
  
}


}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
#footer #footer_logo {
  #min-width:100%;
  #width:auto;
}

#footer #footer_logo .footer_brand {
  /* The main footer logo image for the Blacklight instance */
   
  #width:100%;
  #min-width: 15%;
   
  /*border: 2px solid magenta;*/
}

#footer #footer_logo .footer_ucsb {
  /* The main footer logo image for the Blacklight instance */
  
  
  #min-width: 5%;
  #width:100%;
 
  /*border: 2px solid green;*/
}

#footer .copyright {
    top: 1%;
  
}
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
/* Styles */
}

.footer_brand_updated{
  width: 20%;
  margin-left: 78%;
  margin-top: -2%;
}

.footer_right_updated{
  width: 20%;
  margin-left: 78%;
  margin-top: -3%;
}

.footer_right_bottom{
  width: 20%;
  margin-left: 78%;
  //margin-top: 1%;
}

#footer #footer_logo #footer_text_updated {
  margin-left: 82%;
  margin-top:-2%;
  margin-bottom: 30px;
  width: 16%;
  height: 40%;
  color: #FFF;
  font: bold 14px 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

/* line 139, /rails/ab_hydra_head19/app/assets/stylesheets/blacklight/_footer.css.scss */
#footer #footer_logo #footer_text_updated #footer_text_address {
  display: inline-block;
  font: 14px 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

/* Desktops and laptops ----------- */
@media only screen and (max-width: 1300px) {
  /* Styles */
  
  #footer #footer_logo #footer_text_updated {
  margin-left: 71%;
  margin-top: 1%;
  margin-bottom: 30px;
  
}
}

