.page-header-container {
  width: 100%;
  height: 400px;
  margin-top: 30px;
  position: relative;
  //margin-top: 20px;
  /*margin: 0px 10px 10px 10px;*/
  //border: 2px black solid;
  border: 1px transparent solid;
}

.page-header-splash {
  background: transparent image_url('blacklight/ADRL_Large_BG_1209x450.png') repeat;
  height: 450px;
  //height: 400px;
  width: 99.9%;
  margin-top: -7.5%;
  margin-left: -1.5%;
  padding-right: 1.40%;
  font: 100%/normal 'trebuchet ms', arial, sans-serif;
  /*padding: 10px 0px 0px 0px; */
  //border: 2px magenta solid;
  border: 1px transparent solid;
}

.header-splash-top-links {
  //width: 100%;
  width: 50%;
  margin-left: 2%;
  //margin-top: 1%;
  //top: 1%;
  //border: 2px green solid;
}

.header-splash-top-links a{
  color: white;
  text-decoration: none;
  margin-top: 1%;
  /*border: 2px green solid;*/
  //font: 14pt 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font: 14px 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.page-header-splash a {
  color: white;
  text-decoration: none;
}

.page-header-splash a:hover {
  color: white;
  text-decoration: none;
}

.page-header-splash p {
  /*padding: 0px 0px 10px; */
  //width: 99%;
  width: 50%;
  margin-top: 1%;
  margin-left: 2%;
  color: white;
  font: 14px 'Helvetica Neue',Helvetica,Arial,sans-serif;
  //border: 2px magenta solid;
}

//.dropdown .RightLink {
//  position: relative;
//  overflow: hidden;
//  border: 2px green solid;
//  float: left;
//}

.page-header-container .off-campus-login-link{
  width: 250px;
  text-align: right;
  font-size: 0.9em;
 # margin-left: 935px;
   margin-left: 70%;
  position: absolute;
//  overflow: visible;
  //border: 2px green solid;
}

//.page-header-splash a.RightLink {
.page-header-container .off-campus-login-link a.RightLink {
  color: #ffcb05;
  font: 14px 'Helvetica Neue',Helvetica,Arial,sans-serif;
  //border: 2px orange solid;
}



/* //.page-header-splash a.RightLink {
.dropdown a.RightLink {
  width: 59%;
  font-size: 0.9em;
  position: relative;
  //overflow: visible;
  color: #ffcb05;
  //float: right;
  float: left;
  margin-top: -5%;
  margin-left: 70%;
  font: 14px 'Helvetica Neue',Helvetica,Arial,sans-serif;
  //border: 2px orange solid;
} */

 /*.page-header */
//.page-header-splash {
//  vertical-align: middle;
//  /*margin-left: auto;
//  margin-right: auto;*/
//  text-align: left; 
//}

.brand {
  width: 65%;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.allset {
  width: 50%;
  padding-left: 17%;
  padding-top: 2%;
  /*border: 2px orange solid;*/
}

.browse_link {
  width: 75%;
  margin-top: -2%;
  padding-left: 2%;
  /*border: 2px blue solid;*/
}

.brandh {
  vertical-align: middle;
  margin-left: inherit;
  margin-right: inherit;
  text-align: left;
  margin-left: 100px;
  padding-left: 0;
  position: relative;
}

.page-header-splash .page-header-splash .pull-left {
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
 
.page-header-splash .search-query-form {
  //width: 550px; 
  width: 50%;
  margin-top: -2px;
  position: relative;
  margin-left: 7%;
}

.page-header-splash .search-btn.btn {
  background: gold;
  color: gold;
  margin-top: 0px;
  position: relative;
}

.page-header-splash .search_field {
  width: 200px;
  margin-right: 0.5em;
  position: relative;
}

.page-header-splash .form-inline input {
  margin-bottom: 0px;
  vertical-align: middle;
  display: inline-block;
}

.imageset {
  height: 550px;
  width: 100%;
}

.header-splash-utils {
  width: 35%;
  height: 10%;
  border: 2px green solid;
}

.auto-style2 {
	width: 55%;
	height: 32%;
	vertical-align: middle;
	margin-left: 20%;
	margin-right: auto;
	text-align: center;
  	//border: 2px green solid;
}

.auto-style3 {
	width: 75%;
	height: 7%;
	padding-top: 1%;
	//margin-top: 57px;
	margin-top: 2%;
        margin-left: 14.5%;
  	//border: 2px red solid;
}

.auto-style4 {
	width: 50%;
	//margin-top: 15%;
	//margin-top: 1%;
	margin-left: 20%;
	color: white; 
	font: 23px 'Helvetica Neue',Helvetica,Arial,sans-serif;
  	//border: 2px magenta solid;
}

.logo_image {
  margin-top: 2%;
  //border: 2px green solid;
}

@media (max-width: 767px) {  
  .header-splash-top-links {
    margin-top: -20px !important;
  }
  .RightLink {
    margin-top: -20px !important;
    margin-left: -24px;
  }
}

@media (max-width: 577px) {
  .header-splash-top-links {
    margin-top: -38px !important;
  }
  .RightLink {
    margin-top: -38px !important;
    margin-right: 54%;
  }
}


