/*
  Header bar at top (Bootstrap nav-bar)
*/
$logo_image: 'blacklight/ADRL_Logo_363x84.png';
$header_background_image: 'blacklight/ADRL_BG_1280x160.png';
$navbar_background_color: #0000FF;


#page-header{
  #width: 1200px;
  width: 100%;
  margin-left: auto; 
  margin-right: auto;
}

#header-navbar-fixed-top {
  #width: 1200px;
  width: 100%;
  #margin-left:35px;
  #padding-right:30px;
  /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);*/
  min-width: 395px;
  /* This ensures that any tool pop-up goes infront of the header */
  z-index:1000;
  /*border: 3px solid black;*/

  .brand {  /* The main logo image for the Blacklight instance */
  	  width: 375px;
  	  height: 60px;
	  background:transparent image_url($logo_image) no-repeat top left;
	  display: inline-block;
	  text-indent: 100%;
	  white-space: nowrap;
	  overflow: hidden;
	  padding-right:0;
	  margin-left:5px;
	  padding-left: 0;
          position:relative;
          /*border: 3px solid magenta;*/
  }

  .navbar-inner {
    display: block;
    /* background: transparent image_url($header_background_image) repeat; */
    /* background: transparent url($header_background_image) repeat; */
    background: transparent image_url($header_background_image) repeat;
    filter: none;
    width: 100%;
    #width: 1200px;
    height: 95px;
    #height: 100%;
    #padding-right:30px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    position:relative;
    /*border: 2px solid red;*/
  }

  .desktop-search-bar { /* Search form is in the header */
    opacity: 1 !important;
    padding-top: 0.5em;
  position:relative;
    /*border: 3px solid magenta;*/
  }
}

#searchbar {
  aligh: right;
  width: 550px;
  height: 35px;
  margin-left: 675px;
  margin-top:-45px;
  position:relative;
  /*border: 2px solid black;*/
}

.search-query-form {
  width: 550px;
  margin-top: -2px;
  position:relative;
  /*border: 1px solid blue;*/
}

.btn.search-btn {
  margin-top: 0;
  position:relative;
  /*border: 1px solid green;*/
  color: gold;
  background: #FFD700;
}
.search_field {
  width: 200px;
  margin-right: 0.5em;
  position:relative;
  /*border: 1px solid red;*/
}

.util-links-login{
  width: 250px;
  text-align: right;
  font-size: 0.9em;
  margin-left: 935px;
  margin-top: -20px;
  position:relative;
  /*border: 2px solid red; */
}

.util-links-login a {
  color: #ffcb05;
}

.util-links-other {
  color: white;
  text-color: white;
  width: 275px;
  margin-top: -75px;
  margin-left: 650px;
  font-size: 0.9em;
  font-color: white;
  position:relative;
  /* border: 2px solid red; */
}

.util-links-other a {
  color: white;
}

.user_logged a {
  color: white;
}

#searchbarupdate {
aligh: right;
  width: 50%;
  height: 35px;
  margin-left: 57.5%;
  margin-top: -4%;
  position: relative;
  /*border: 2px solid black;*/


}

.util-links-otherupdate {
 color: white;
  text-color: white;
  width: 30%;
  margin-top: 1%;
  margin-left: 58.7%;
  font-size: 0.9em;
  font-color: white;
  position: relative;
  /* border: 2px solid red; */

}
.util-links-otherupdate a {
  color: white;
}


.util-links-loginupdate a {
  color: #ffcb05;
}
.util-links-loginupdate {

 margin-top: -2%;
  margin-left: 77%;
  width: 20%;
  text-align: right;
  font-size: 0.9em;
  #margin-left: 100px;
  #margin-top: -20px;
  position: relative;
  overflow: visible;
  /*border: 2px solid red; */
}

@media (max-width: 767px) {  
/* line 178, /rails/ab_hydra_head14/app/assets/stylesheets/blacklight/_header.css.scss */
  .util-links-otherupdate {
    margin-top: -38px !important;
  }
  .util-links-loginupdate{
    margin-top: -38px !important;
    
  }

  /* line 182, /rails/ab_hydra_head14/app/assets/stylesheets/blacklight/_header.css.scss */
#searchbarupdate {
    margin-top: 20px !important;
    /*border: 2px solid black;*/
  }
}
@media (max-width: 1199px) {
  /* line 192, /rails/ab_hydra_head14/app/assets/stylesheets/blacklight/_header.css.scss */
  #searchbarupdate {
    margin-top: -15px;
}  
}
.span3header{
  width:51%;
}

@media (max-width: 577px) {
  .util-links-otherupdate {
    margin-top: -38px !important;
  }

  #searchbarupdate {
    margin-top: 1px !important;
    /*border: 2px solid black;*/
  }
}

@media (max-width: 480px) {
  #search_field {
    display: inline !important;
  }
 #searchbarupdate {
    margin-top: 1px !important;
    margin-left: 139px;
    /*border: 2px solid black;*/
  }
}


