.login-auto-style1 {
  margin-top: 10px;
}


.login-auto-style2 {
  margin-top: 46px;
}


.dropdown-login {
  left: -64px;
  top: 0px;
  width: 250px;
}

.dropdown-login-menu {
  width: 680px;
  margin-left: -350px;
  margin-top: 28px;
  height: 350px;
  left: 0px;
  top: 0%;
  border: 2px #e3e3e3 solid;
}

.login-main {
  width: 62%;
  height: 50%;
}

.login-text {
  text-align: left;
  width: 42%;
  height: 50%;
  float: left;
  margin-top: -7%;
  margin-left: 1.5%;
}

.login-text h2 {
  text-align: left;
  margin-bottom: 3%;
  font: bold 28px 'Helvetica Neue', Helvetica,Arial,sans-serif;
}

.login-text p {
  text-align: left;
  margin-left: -0.5%;
  font: 14px 'Helvetica Neue', Helvetica,Arial,sans-serif;
  line-height: 16px;
  float: left;
  color: black;
}

.login-margin {
  margin-left: 300px;
  height: 350px;
  width: 50px;
  float: none;
}

.off-campus-wrapper {
  align: left;
  display: block;
  width: 100%;
  margin-left: 22%;
  height: 119%;
}

.login-form {
  align: center;
  background-color: #f5f5f5;
  margin-left: 33%;
  margin-top: 9%;
  width: 40%;
  height: 240px;
  border-radius: 5px;
  border: 1px #e3e3e3 solid;
}

.login-form-content {
  text-align: left;
  width: 100%;
  height: 261px;
  margin-top: 5%;
  margin-left: 5%;
}


.label-username {
  font: bold 16px 'Helvetica Neue',Helvetica,Arial,sans-serif;
  margin-top: 0%;
  margin-bottom: -8%;
}

.input-username {
  margin-top: 3%;
  margin-bottom: 7%;
  width: 83%;
  height: 25px;
  border-radius: 5px;
}

.label-password {
  padding-bottom: -5%;
  font: bold 124% 'Helvetica Neue',Helvetica,Arial,sans-serif;
  margin-bottom: -9%;
  margin-top: 2%;
}

.input-password {
  margin-top: 3%;
  width: 83%;
  height: 25px;
  border-radius: 5px;
}

.login-button {
  width: 30%;
  min-width: 30%;
  height: 35px;
  background-color: #ffcb05 !important;
  font: bold 14px 'Helvetica Neue',Helvetica,Arial,sans-serif;
  border-radius: 5px;
  border: 1px solid #ffcb05;
}

.login-form-content a {
  color: #004e6e;
  font: 14px 'Helvetica Neue',Helvetica,Arial,sans-serif;
  text-decoration: none;
}

.login-form-content a:link {
  color: #004e6e;
}

.login-form-content a:active {
  color: #0080a4;
}

.login-form-content a:visited {
  color: #004e6e;
}

.login-form-content a:hover {
  color: #0080a4;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
  .login-form {
    width: 40%;
    height: 50%;
  }

  .login-form-content {
    text-align: left;
    width: 100%;
    height: 291px;
    margin-top: 5%;
    margin-left: 5%;
  }
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) and (max-width: 720px) {
  /* Styles */
  .login-form {
    width: 40%;
    height: 50%;
  }

  .login-form-content {
    text-align: left;
    width: 100%;
    /* height: 291px; */
    margin-top: 5%;
    margin-left: 5%;
  }
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
  .login-form {
    width: 40%;
    height: 50%;
  }

  .login-form-content {
    text-align: left;
    width: 100%;
    height: 291px;
    margin-top: 21%;
    margin-left: 5%;
  }
.off-campus-wrapper {
  
  margin-left: 42%;
  
  width: 169%;
  /* margin-bottom: -57%; */
}
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* Styles */
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}

