  #view_mods_link {
    width: 100%;
    padding-bottom: 2%;
    //border: 2px solid magenta;
  }
  #view_mods_link a{
    width: 100%;
    margin-left: 80%;
    text-decoration: none;
    color: #999999;
    font: normal 14px 'Helvetica Neue', Helvetica,Arial,sans-serif;
    //border: 2px solid orange;
  }

  #object_table {
    width:100%;
    height:100%;
    /*border: 2px solid orange;*/
  }

  #object_table table{
    width:100%;
    height:100%;
    /*border:thin #CCCCCC solid;*/
    /*border: 2px solid red;*/
  }
  
  #object_table th{
    font:bold;
    text-align:left;
    height: 30px;
    /* background: #B0B0B0;
    background: #838182;*/
    background: #EEEEEE;
    //border-bottom: none;
    border-top:thin #CCCCCC inset;
    border: thin #CCCCCC inset;
    //color:#FFF;
    color:black;
    font: normal 14px 'Helvetica Neue', Helvetica,Arial,sans-serif;
    padding-left: 2%;
  }
  
  #object_table th.header_col_1{
    border-right: none;
  }
  
  #object_table th.header_col_2{
    border-left: none;
  }
  
  #object_table td{
    width: 50%;
    //height: 100%;
    height: 50px;
    padding-left: 2%;
    border-bottom:thin #CCCCCC inset;
    /*border: 2px solid yellow;*/
  }

  #object_table tr {
    width: 100%;
    height: 100%;
  }

  #object_table td.col_1{
    font: bold 14px 'Helvetica Neue', Helvetica,Arial,sans-serif;
    color: #004E6E;
    border-left:thin #CCCCCC inset;
    /*border: 2px solid yellow;*/
  }
  
  #object_table td.col_1 img{
    width: 30px;
    height: 30px;
    /*border: 2px solid yellow;*/
  }
  
  #object_table td.col_2{
    font: 14px 'Helvetica Neue', Helvetica,Arial,sans-serif;
    border-right:thin #CCCCCC inset;
    /*border: 2px solid yellow;*/
  }

  #object_table td.access_row{
    height: 30px;
    //background: #9F160C;
    background: #9E280E;
    color: #FFF;
    padding-left: 2%;
  }

  #thumbnail_image {
    width: 30px;
    height: 30px;
    /*border: 2px solid yellow;*/
  }

  #file_size {
    font: 14px 'Helvetica Neue', Helvetica,Arial,sans-serif;
    color: #000000;
  }
