.page-splash-container {
  margin: 0px 10px 10px 10px;
  /* background-color:gray; */
  /*border: 2px black solid;*/
}

.page_main {
  //height: 800px;
  height: 500px;
  width: 100%;
  text-align: center;
  font: 100%/normal 'trebuchet ms', arial, sans-serif;
  color: #FF0000;
  /*border: 2px magenta solid;*/
}

#main_header p {
  width: 70%;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  //font: 28pt 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font: 28px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #004E6E;
  line-height:1.2;
  /*border: 2px magenta solid;*/
}

.page_submain {
  height: 550px;
  width: 100%;
  text-align: center;
  font: 100%/normal 'trebuchet ms', arial, sans-serif;
}

.page_submaininner {
  width: 70%;
  height: 60%;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-weight: normal;
  color: blue;
  /*border: 2px red solid;*/
}

.InnerDiv1 {
  width: 48%;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-weight: normal;
  color: black;
  float: left;
  /*border: 2px green solid;*/
}

.InnerDiv1 p {
  width: 100%;
  color: black;
  text-align: left;
  /*border: 2px orange solid;*/
  //font: 16pt sans-serif !important;
  font: 16px sans-serif !important;
}

.InnerDiv1 h4 {
  color: #004E6E;
  //font: bold 16pt 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font: bold 16px 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.InnerDiv1 a {
  color: #004e6e;
  text-decoration: none;
  //font: 16pt sans-serif !important;
  font: 16px sans-serif !important;
  line-height:16px !important;
}

.InnerDiv2 {
  width: 48%;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-weight: normal;
  color: black;
  float: right;
  /*border: 2px blue solid;*/
}

.InnerDiv2 p {
  width: 100%;
  color: black;
  text-align: left;
  /*border: 2px orange solid;*/
  //font: 16pt sans-serif !important;
  font: 16px sans-serif !important;
}

.InnerDiv2 h4 {
  color: #004E6E;
  //font: bold 16pt 'Helvetica Neue',Helvetica,Arial,sans-serif;
  font: bold 16px 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.InnerDiv2 a {
  color: #004e6e;
  text-decoration: none;
  line-height:16px !important;
}

#admin_links {
  float: left;
  margin-left: 15%;
  margin-top: -5%;
  /*border: 2px green solid;*/
}
