.splash-search-bar {
  width: 66%;
  #width: 700px;
  height: 50px;
  margin-left: 20%;
  height: 10%;
  //border: 2px green solid;
}

.splash-search-select {
  width: 80%;
  height: 50px;
  margin-left: -14%;
  display: inline-block;
  //border: 2px magenta solid; 
}

.splash-search-query {
  width: 90%;
  height: 50px;
  margin-left: 70%;
  #margin-top: -14.5%;
  margin-top: -8%;
  display: inline-block;
  //border: 2px orange solid; 
}

.splash-search-select .input-splash-dropdown {
  width: 100%;
  height: 100%;
  display: inline-block;
  //border: 1px magenta solid; 
}

.splash-search-query .search-splash-q {
  width: 110%;
  height: 80%;
  display: inline-block;
  //border: 1px orange solid; 
}

.splash-search-query .search-splash-button {
  width: 15%;
  height: 100%;
}

@media (max-width: 1300px) {

  .splash-search-query {
    margin-top: -12%;
  }
}
@media (max-width: 1100px) {
  .splash-search-query {
    margin-top: -15%;
  }
}
@media (max-width: 979px) {
  .splash-search-query {
    margin-left: 5%;
    margin-top: -17.2% !important;
    display: inline-block;
  }
}
@media (max-width: 800px) {
  .splash-search-query {
    margin-left: 13%;
    margin-top: -20.2% !important;
  }
}
@media (max-width: 770px) {
  .splash-search-query {
    margin-left: 13%;
    margin-top: -20.2% !important;
  }
}
@media (max-width: 700px) {
  .splash-search-query {
    margin-left: 20%;
    margin-top: -24.2% !important;
  }
}
@media (max-width: 600px) {
  .splash-search-query {
    margin-left: 19%;
    margin-top: -28.2% !important;
  }
}
@media (max-width: 500px) {
  .splash-search-query {
    margin-left: 25%;
    margin-top: -33.2% !important;
  }
}
@media (max-width: 450px) {
  .splash-search-query {
    margin-left: 36%;
    margin-top: -43.2% !important;
  }
}
@media (max-width: 360px) {
  .splash-search-query {
    margin-left: 60%;
    margin-top: -58.2% !important;
  }
}
@media (max-width: 300px) {

  .splash-search-query {
    margin-left: 60%;
    margin-top: -70.2% !important;
  }
}
@media (max-width: 270px) {
  .splash-search-query {
    margin-left: 71%;
    margin-top: -74.2% !important;
  }
}
@media (max-width: 1366px) {
  .splash-search-query {
    margin-top: -11.1%;
  }
}
