<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <title>Ingest - UCSB Digital Repository</title>
  </head>
  <body>
  <% url = APP_CONFIG['rails_url'] %>
  <%= yield%>
  <h3>ETD Edit</h3>

  <%= form_tag('show', :multipart => true) do %>
  	<p><%= submit_tag 'Save', :name => 'save' %> 
  	<%= submit_tag 'Cancel', :name => 'cancel' %></p> 

        <p>
        <h4>Title Info:</h4>
        </p>
	<% if (@etd.title_nonSort != nil) %>
  	  <p>
    	  <%= label_tag 'title', 'Non-Sort:' %>
    	  <%= text_field_tag 'title_nonSort', @etd.title_nonSort.to_s, :size => 100 %>
  	  </p>
	<% end %>
	<% if (@etd.title_main_title != nil) %>
  	  <p>
    	  <%= label_tag 'title', 'Main Title:' %>
    	  <%= text_field_tag 'title_main_title', @etd.title_main_title.to_s, :size => 100 %>
  	  </p>
	<% end %>
	<% if (@etd.title_sub_title != nil) %>
  	  <p>
    	  <%= label_tag 'title', 'Sub-Title:' %>
    	  <%= text_field_tag 'title_sub_title', @etd.title_sub_title.to_s, :size => 100 %>
  	  </p>
	<% end %>
  	<p>
    	<%= label_tag 'ark', 'ARK:' %>
    	<%= hidden_field_tag 'pid', @etd.pid %>
        <%= format_ark(@etd.pid) %>
  	</p>
        <hr>

        <p>
        <h4>Author:</h4>
        </p>
        <p>
          <%= label_tag 'author', 'Family Name:' %>
    	  <%= text_field_tag 'author_family', @etd.author_family.to_s, :size => 25 %>
        </p>
        <p>
          <%= label_tag 'author', 'Given Name:' %>
    	  <%= text_field_tag 'author_given', @etd.author_given.to_s, :size => 25 %>
        </p>
        <p>
          <%= label_tag 'author', 'Role Text:' %>
    	  <%= text_field_tag 'a_role', @etd.a_role.to_s, :size => 25 %>
        </p>
        <hr>

        <p>
        <h4>Personal Names:</h4>
        </p>

        <% (1..@etd.pers_last_names.count-1).each do |p| %>
        <p>
          <%= label_tag 'p_last_name', 'Family Name'+(p).to_s()+':' %>
          <%= text_field_tag 'p_last_name'+p.to_s(), @etd.pers_last_names[p], :size => 25 %>
        </p>
        <p>
          <%= label_tag 'p_first_name', 'Given Name'+(p).to_s()+':' %>
          <%= text_field_tag 'p_first_name'+p.to_s(), @etd.pers_first_names[p], :size => 25 %>
        </p>
        <p>
          <%= label_tag 'p_role_text', 'Role Text'+(p).to_s()+':' %>
          <%= text_field_tag 'p_role_text'+p.to_s(), @etd.pers_roles_text[p], :size => 25 %>
        </p>
        <hr>
        <% end %>

        <p>
        <h4>Corporate Names:</h4>
        </p>

        <% (0..@etd.corporate_names.count-1).each do |c| %>
        <p>
          <%= label_tag 'c_name', 'Name'+(c+1).to_s()+':' %>
          <%= text_field_tag 'c_name'+c.to_s(), @etd.corporate_names[c], :size => 50 %>
        </p>
        <% end %>
        <p>
          <%= label_tag 'c_role', 'Role Text:' %>
          <%= text_field_tag 'c_role', @etd.c_role.to_s, :size => 25  %>
        </p>
        <hr>

        <p>
        <h4>Type of Resource:</h4>
        </p>
        <p>
        <%= label_tag 'res_type', 'Type of Resource:' %>
        <%= text_field_tag 'res_type', @etd.res_type %>
        </p>
        <hr>

        <p>
        <h4>Genre => marcgt:</h4>
        </p>
        <p>
        <%= label_tag 'g_marcgt', 'Genre:' %>
        <%= text_field_tag 'g_marcgt', @etd.g_marcgt %>
        </p>
        <hr>

        <p>
        <h4>Genre => local:</h4>
        </p>
        <% (0..@etd.g_local.count-1).each do |g| %>
        <p>
          <%= label_tag 'g_local', 'Genre'+(g+1).to_s()+':' %>
          <%= text_field_tag 'g_local'+g.to_s(), @etd.g_local[g] %>
        </p>
        <% end %>
        <hr>

        <p>
        <h4>Origin Info:</h4>
        </p>
        <p>
        <%= label_tag 'place_code', 'Place Code:' %>
        <%= text_field_tag 'place_code', @etd.place_code, :size => 25 %>
        </p>
        <p>
        <%= label_tag 'place_text', 'Place Text:' %>
        <%= text_field_tag 'place_text', @etd.place_text, :size => 25 %>
        </p>
        <p>
        <%= label_tag 'publisher', 'Published:' %>
        <%= text_field_tag 'publisher', @etd.publisher_name, :size => 50 %>
        </p>
        <p>
        <%= label_tag 'date_created', 'Date Created:' %>
        <%= text_field_tag 'date_created', @etd.create_key_date[0], :size => 50 %>
        </p>

        <% (0..@etd.year.count-1).each do |y| %>
        <p>
          <%= label_tag 'year', 'Date Issued Year'+(y+1).to_s()+':' %>
          <%= text_field_tag 'year'+y.to_s(), @etd.year[y] %>
        </p>
        <% end %>

        <p>
        <%= label_tag 'issuance', 'Issuance:' %>
        <%= text_field_tag 'issuance', @etd.origin_issuance, :size => 25 %>
        </p>
        <hr>

        <p>
        <%= label_tag 'language', 'Language:' %>
        <%= text_field_tag 'language', @etd.lang_name, :size => 25 %>
        </p>
        <hr>

        <p>
        <h4>Physical Description:</h4>
        </p>
        <% if (@etd.marcform != nil) %>
        <p>
          <%= label_tag 'physical_desc', 'Form => marcform:' %>
          <%= text_field_tag 'marcform', @etd.marcform %>
        </p>
        <% end %>
        <% if (@etd.gmd != nil) %>
        <p>
          <%= label_tag 'physical_desc', 'Form => gmd:' %>
          <%= text_field_tag 'gmd', @etd.gmd %>
        </p>
        <% end %>
        <% if (@etd.marccategory != nil) %>
        <p>
          <%= label_tag 'physical_desc', 'Form => marccategory:' %>
          <%= text_field_tag 'marccategory', @etd.marccategory %>
        </p>
        <% end %>
        <% if (@etd.marcsmd != nil) %>
        <p>
          <%= label_tag 'physical_desc', 'Form => marcsmd:' %>
          <%= text_field_tag 'marcsmd', @etd.marcsmd %>
        </p>
        <% end %>

        <% if (@etd.media != nil) %>
          <% (0..@etd.media.count-1).each do |m| %>
          <p>
            <%= label_tag 'physical_desc', 'Internet Media Type'+(m+1).to_s()+':' %>
            <%= @etd.media[m] %>
          </p>
          <% end %>
        <% end %>

        <% if (@etd.extent != nil) %>
        <p>
          <%= label_tag 'physical_desc', 'Extent:' %>
          <%= text_field_tag 'extent', @etd.extent %>
        </p>
        <% end %>
        <% if (@etd.digital_origin != nil) %>
        <p>
          <%= label_tag 'physical_desc', 'Digital Origin:' %>
          <%= text_field_tag 'digital_origin', @etd.digital_origin %>
        </p>
        <% end %>
        <hr>

        <p>
        <h4>Abstract:</h4>
        </p>
        <% (0..@etd.abstract_para.count-1).each do |a| %>
        <p>
          <%= label_tag 'abstract', 'Abstract'+(a+1).to_s()+':' %>
          <%= text_area_tag 'abstract'+a.to_s(), @etd.abstract_para[a], :rows => 10, :cols => 150 %>
        </p>
        <% end %>
        <hr>

        <p>
        <h4>Identifier:</h4>
        </p>
        <p>
        <%= label_tag 'isbn', 'ISBN:' %>
        <%= text_field_tag 'isbn', @etd.isbn %>
        </p>
        <p>
        <%= label_tag 'oclc', 'OCLC:' %>
        <%= text_field_tag 'oclc', @etd.oclc %>
        </p>
        <p>
        <%= label_tag 'aleph', 'Aleph System Number:' %>
        <%= text_field_tag 'aleph', @etd.aleph_sys_number %>
        </p>
        <hr>

        <p>
        <h4>Notes:</h4>
        </p>
        <% (0..@etd.notes.count-1).each do |n| %>
        <p>
          <%= label_tag 'note', 'Note'+(n+1).to_s()+':' %>
          <%= text_field_tag 'note'+n.to_s(), @etd.notes[n], :size => 100 %>
        </p>
        <% end %>
        <hr>

        <p>
        <h4>Location:</h4>
        </p>
        <p>
          <%= label_tag 'physical_loc', 'Physical Location:' %>
          <%= text_field_tag 'physical_loc', @etd.phy_loc, :size => 50 %>
        </p>
        <p>
        <h4>Copy Information:</h4>
        </p>
        <p>
          <%= label_tag 'sub_loc', 'Sub Location:' %>
          <%= text_field_tag 'sub_loc', @etd.sub_loc, :size => 50 %>
        </p>
        <p>
          <%= label_tag 'shelf_loc', 'Shelf Locator:' %>
          <%= text_field_tag 'shelf_loc', @etd.shelf_loc, :size => 50 %>
        </p>
        <hr>

        <p>
        <h4>Proquest URL:</h4>
        </p>
        <p>
          <%= label_tag 'proquest_loc', 'Proquest Location URL:' %>
          <%= text_field_tag 'proquest_loc', @etd.proquest_loc, :size => 200 %>
        </p>
        <hr>

        <p>
        <h4>ADRL URL:</h4>
        </p>
        <p>
          <%= label_tag 'adrl_loc', 'ADRL Location URL:' %>
          <%= @etd.adrl_loc %>
        </p>
        <p>
          <%= label_tag 'adrl_preview', 'ADRL Location URL Preview:' %>
          <%= @etd.adrl_preview %>
        </p>
        <hr>

        <p>
        <h4>Record Info:</h4>
        </p>
        <p>
          <%= label_tag 'descStd', 'Description Standard:' %>
          <%= text_field_tag 'desc_std', @etd.desc_std, :size => 50 %>
        </p>
        <p>
        <%= label_tag 'rec_content_src', 'Record Content Source:' %>
        <%= @etd.record_content_src %>
        </p>
        <p>
        <%= label_tag 'rec_create_date', 'Record Creation Date:' %>
        <%= @etd.record_date_create %>
        </p>
        <p>
        <%= label_tag 'rec_change_date', 'Record Change Date:' %>
        <%= @etd.record_date_change %>
        </p>
        <p>
        <%= label_tag 'rec_lang', 'Record Language of Cataloging:' %>
        <%= @etd.rec_lang %>
        </p>
        <p>
        <%= label_tag 'rec_origin', 'Record Origin:' %>
        <%= @etd.rec_origin %>
        </p>
        <hr>

        <p>
        <h4>Subjects:</h4>
        </p>
        <% (0..@etd.subjects.count-1).each do |s| %>
        <p>
	  <%= label_tag 'topic', 'Topic'+(s+1).to_s()+':' %>        
          <%= text_field_tag 'topic'+s.to_s(), @etd.subjects[s], :size => 50 %>
        </p>
        <% end %>

  	<p><%= submit_tag 'Save', :name => 'save' %> 
  	<%= submit_tag 'Cancel', :name => 'cancel' %></p> 

	<p> <%= link_to 'BACK', (url + 'etds/'+(@etd.pid)) %></p> <br />

  <% end %> 
  </body>
</html>

