<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
	  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	  <title>Ingest - UCSB Digital Repository</title>
  </head>
  <body>
<% url = APP_CONFIG['rails_url'] %>
  <%= yield %>
  <h3>ETD Detail</h3>
<% if(params[:id]).nil?  %>
  <%- e = ETD.find(params[:pid]) -%>
<% else %>
  <%- e = ETD.find(params[:id]) -%>
<% end %>
<%- if !(current_user.nil?) && ( (can?(:edit, e)) || (current_user.groups.include?("admin")) ) %>
<%# if can?(:edit, e) %>
  <%= form_tag('edit', :multipart => true) do %>
  	<p><%= submit_tag 'Edit' %></p>

  	<p>
    	<%= hidden_field_tag 'ark_pid', params[:id] %>
  	</p>

        <p>
        <h4>Title Info:</h4>
        </p>
        <% if (@etd.title_nonSort != nil) %>
          <p>
          <%= label_tag 'title', 'Non-Sort:' %>
    	  <%= @etd.title_nonSort.to_s %>
          </p>
        <% end %>
        <% if (@etd.title_main_title != nil) %>
          <p>
          <%= label_tag 'title', 'Main Title:' %>
    	  <%= @etd.title_main_title.to_s %>
          </p>
        <% end %>
        <% if (@etd.title_sub_title != nil) %>
          <p>
          <%= label_tag 'title', 'Sub-Title:' %>
    	  <%= @etd.title_sub_title.to_s %>
          </p>
        <% end %>
	<hr>

  	<p>
    	<%= hidden_field_tag 'pid', @etd.pid %>
    	<%= label_tag 'ark', 'ARK:' %>
    	<%= format_ark(@etd.pid) %>
  	</p>
	<hr>

        <p>
        <h4>Author:</h4>
        </p>
        <p>
          <%= label_tag 'author', 'Family Name:' %>
          <%= @etd.author_family.to_s %>
        </p>
        <p>
          <%= label_tag 'author', 'Given Name:' %>
          <%= @etd.author_given.to_s %>
        </p>
        <p>
          <%= label_tag 'author', 'Role Text:' %>
          <%= @etd.a_role.to_s %>
        </p>
	<hr>

        <p>
        <h4>Personal Names:</h4>
        </p>

        <% (1..@etd.pers_last_names.count-1).each do |p| %>
        <p>
          <%= label_tag 'p_last_name', 'Family Name'+(p).to_s()+':' %>
          <%= @etd.pers_last_names[p] %>
        </p>
        <p>
          <%= label_tag 'p_first_name', 'Given Name'+(p).to_s()+':' %>
          <%= @etd.pers_first_names[p] %>
        </p>
        <p>
          <%= label_tag 'p_role_text', 'Role Text'+(p).to_s()+':' %>
          <%= @etd.pers_roles_text[p] %>
        </p>
	<hr>
        <% end %>

        <p>
        <h4>Corporate Names:</h4>
        </p>

        <% (0..@etd.corporate_names.count-1).each do |c| %>
        <p>
          <%= label_tag 'c_name', 'Name'+(c+1).to_s()+':' %>
          <%= @etd.corporate_names[c] %>
        </p>
        <% end %>
        <p>
          <%= label_tag 'c_role', 'Role Text:' %>
          <%= @etd.c_role.to_s %>
        </p>
	<hr>

        <p>
        <h4>Type of Resource:</h4>
        </p>
        <p>
        <%= label_tag 'res_type', 'Type of Resource:' %>
        <%= @etd.res_type %>
        </p>
        <hr>

        <p>
        <h4>Genre => marcgt:</h4>
        </p>
        <p>
        <%= label_tag 'g_marcgt', 'Genre:' %>
        <%= @etd.g_marcgt %>
        </p>
        <hr>

        <p>
        <h4>Genre => local:</h4>
        </p>
        <% (0..@etd.g_local.count-1).each do |g| %>
        <p>
          <%= label_tag 'g_local', 'Genre'+(g+1).to_s()+':' %>
          <%= @etd.g_local[g] %>
        </p>
        <% end %>
        <hr>

        <p>
        <h4>Origin Info:</h4>
        </p>
  	<p>
    	<%= label_tag 'place_code', 'Place Code:' %>
    	<%= @etd.place_code %>
  	</p>
  	<p>
    	<%= label_tag 'place_text', 'Place Text:' %>
    	<%= @etd.place_text %>
  	</p>
  	<p>
    	<%= label_tag 'publisher', 'Published:' %>
    	<%= @etd.publisher_name %>
  	</p>
  	<p>
    	<%= label_tag 'date_created', 'Date Created:' %>
    	<%= @etd.create_key_date[0] %>
  	</p>

        <% (0..@etd.year.count-1).each do |y| %>
        <p>
          <%= label_tag 'year', 'Date Issued Year'+(y+1).to_s()+':' %>
          <%= @etd.year[y] %>
        </p>
        <% end %>

  	<p>
    	<%= label_tag 'issuance', 'Issuance:' %>
    	<%= @etd.origin_issuance %>
  	</p>
	<hr>

  	<p>
    	<%= label_tag 'language', 'Language:' %>
    	<%= @etd.lang_name %>
  	</p>
	<hr>

        <p>
        <h4>Physical Description:</h4>
        </p>
        <% if (@etd.marcform != nil) %>
        <p>
          <%= label_tag 'physical_desc', 'Form => marcform:' %>
          <%= @etd.marcform %>
        </p>
        <% end %>
        <% if (@etd.gmd != nil) %>
        <p>
          <%= label_tag 'physical_desc', 'Form => gmd:' %>
          <%= @etd.gmd %>
        </p>
        <% end %>
        <% if (@etd.marccategory != nil) %>
        <p>
          <%= label_tag 'physical_desc', 'Form => marccategory:' %>
          <%= @etd.marccategory %>
        </p>
        <% end %>
        <% if (@etd.marcsmd != nil) %>
        <p>
          <%= label_tag 'physical_desc', 'Form => marcsmd:' %>
          <%= @etd.marcsmd %>
        </p>
        <% end %>

        <% if (@etd.media != nil) %>
          <% (0..@etd.media.count-1).each do |m| %>
          <p>
            <%= label_tag 'physical_desc', 'Internet Media Type'+(m+1).to_s()+':' %>
            <%= @etd.media[m] %>
          </p>
          <% end %>
        <% end %>

        <% if (@etd.extent != nil) %>
        <p>
          <%= label_tag 'physical_desc', 'Extent:' %>
          <%= @etd.extent %>
        </p>
        <% end %>
        <% if (@etd.digital_origin != nil) %>
        <p>
          <%= label_tag 'physical_desc', 'Digital Origin:' %>
          <%= @etd.digital_origin %>
        </p>
        <% end %>
        <hr>

        <p>
        <h4>Abstract:</h4>
        </p>
        <% (0..@etd.abstract_para.count-1).each do |a| %>
  	<p>
          <%= label_tag 'abstract', 'Abstract'+(a+1).to_s()+':' %>
          <%= @etd.abstract_para[a] %>
  	</p>
        <% end %>
	<hr>

        <p>
        <h4>Identifier:</h4>
        </p>
  	<p>
    	<%= label_tag 'isbn', 'ISBN:' %>
    	<%= @etd.isbn %>
  	</p>
  	<p>
    	<%= label_tag 'oclc', 'OCLC:' %>
    	<%= @etd.oclc %>
  	</p>
  	<p>
    	<%= label_tag 'aleph', 'Aleph System Number:' %>
    	<%= @etd.aleph_sys_number %>
  	</p>
	<hr>

        <p>
        <h4>Notes:</h4>
        </p>
        <% (0..@etd.notes.count-1).each do |n| %>
        <p>
          <%= label_tag 'note', 'Note'+(n+1).to_s()+':' %>
          <%= @etd.notes[n] %>
        </p>
        <% end %>
	<hr>

        <p>
        <h4>Location:</h4>
        </p>
        <p>
          <%= label_tag 'physical_loc', 'Physical Location:' %>
          <%= @etd.phy_loc %>
        </p>
        <p>
        <h4>Copy Information:</h4>
        </p>
        <p>
          <%= label_tag 'sub_loc', 'Sub Location:' %>
          <%= @etd.sub_loc %>
        </p>
        <p>
          <%= label_tag 'shelf_loc', 'Shelf Locator:' %>
          <%= @etd.shelf_loc %>
        </p>
        <hr>

        <p>
        <h4>Proquest URL:</h4>
        </p>
        <p>
          <%= label_tag 'proquest_loc', 'Proquest Location URL:' %>
          <%= @etd.proquest_loc %>
        </p>
        <hr>

        <p>
        <h4>ADRL URL:</h4>
        </p>
        <p>
          <%= label_tag 'adrl_loc', 'ADRL Location URL:' %>
          <%= @etd.adrl_loc %>
        </p>
        <p>
          <%= label_tag 'adrl_preview', 'ADRL Location URL Preview:' %>
          <%= @etd.adrl_preview %>
        </p>
        <hr>

  	<p>
	<h4>Record Info:</h4>
  	</p>
  	<p>
    	<%= label_tag 'descStd', 'Description Standard:' %>
    	<%= @etd.desc_std %>
  	</p>
  	<p>
    	<%= label_tag 'rec_content_src', 'Record Content Source:' %>
    	<%= @etd.record_content_src %>
  	</p>
  	<p>
    	<%= label_tag 'rec_create_date', 'Record Creation Date:' %>
    	<%= @etd.record_date_create %>
  	</p>
  	<p>
    	<%= label_tag 'rec_change_date', 'Record Change Date:' %>
    	<%= @etd.record_date_change %>
  	</p>
  	<p>
    	<%= label_tag 'rec_lang', 'Record Language of Cataloging:' %>
    	<%= @etd.rec_lang %>
  	</p>
  	<p>
    	<%= label_tag 'rec_origin', 'Record Origin:' %>
    	<%= @etd.rec_origin %>
  	</p>
	<hr>

  	<p>
	<h4>Subjects:</h4>
  	</p>
	<% (0..@etd.subjects.count-1).each do |s| %>
  	<p>
	  <%= label_tag 'topic', 'Topic'+(s+1).to_s()+':' %> 
	  <%= @etd.subjects[s] %> 
  	</p>
	<% end %>

  	<p><%= submit_tag 'Edit' %></p>
      <% end %>

      <p> <%= link_to 'BACK', (url + 'catalog/'+(@etd.pid)) %></p> <br />

<%- else %>
  <h4><font color="red">You don't have enough privileges to access this page</font></h4>
  <p> <%= link_to 'BACK', (url + 'catalog/'+(@etd.pid)) %></p> <br />
<%- end %>

  </body>
</html>

