    <% # container for a single doc -%>
    <div class="document <%= render_document_class document %>">
      <%= render :partial => 'document_header', :locals => { :document => document, :document_counter => document_counter } %>

      <%= render_document_partial document, :thumbnail, :document_counter => document_counter %>

      <% # container for static thumbnail image partial view -%>
      <%#= render :partial => 'document_static_thumbnail', :locals => { :document => document, :document_counter => document_counter } %>

        <% # bookmark functions for items/docs -%>
        <%#= render_index_doc_actions document, :wrapping_class => "documentFunctions span2" %>
        <%#= render :partial => 'catalog/bookmark_control', :locals => {:document=> document} %>

      <% # main container for doc partial view -%>
      <%= render_document_partial document, :index, :document_counter => document_counter %>

      <!--div class="documentHeader clearfix"-->
      <div class="clearfix">
        <%#= render :partial => 'catalog/bookmark_control', :locals => {:document=> document}.merge(:wrapping_class => "documentFunctions span2") %>
        <%#= render_index_doc_actions document, :wrapping_class => "documentFunctions span2" %>
      </div>

    </div>
