<% url = APP_CONFIG['rails_url'] %>
<% fedora_url = APP_CONFIG['fedora_url'] %>
     
      <% # static thumbnail image for doc items in index view -%>
      <div class="document-thumbnail">
        
        <%- # static thumbnail container for doc partial view -%>
         <% counter = document_counter_with_offset(document_counter) %>
         <%#= link_to_document document, :label => image_tag("blacklight/pdf_icon.jpg"), :counter => counter %>

	 <%- pid = document["id"] -%>
	 <%- e = ETD.find(pid) -%>
         <%- embargo = e.rightsMetadata.embargo_release_date -%>
	 <%- on_campus = session[:on_campus] %>
	 <%- link = fedora_url + '/fedora/objects/' + pid + '/datastreams/dataContent/content' -%>

	 <% if (!current_user.nil?) %>
	   <% if (current_user.groups.include?("community") && embargo.nil? ) || (current_user.groups.include?("admin") || current_user.groups.include?("staff")) %>
	     <%= link_to link, :title => "PDF_Link", :target => "_blank" do %>
               <%= image_tag("blacklight/pdf_icon.jpg") %>
             <% end %>
	   <% elsif (current_user.groups.include?("community") && !embargo.nil?) || (current_user.groups.include?("public")) %>
	     <%#= link_to_document document, :label => image_tag("blacklight/pdf_icon.jpg"), :counter => counter %>
             <%#= image_tag("blacklight/pdf_icon.jpg") %>
	   <% end %>

	 <% elsif (current_user.nil?)%>
	   <% if (on_campus && embargo.nil?) %>
	     <%= link_to link, :title => "PDF_Link", :target => "_blank" do %>
		<%= image_tag("blacklight/pdf_icon.jpg") %>
	     <% end %>
	   <% elsif (on_campus && !embargo.nil?) || (!on_campus) %>
	     <%#= link_to_document document, :label => image_tag("blacklight/pdf_icon.jpg"), :counter => counter %>
             <%#= image_tag("blacklight/pdf_icon.jpg") %>
	   <% end %>
	
	 <% end %>

      </div>

