<%= form_tag url_for(:controller => "catalog", :action => "email"), :id => 'email_form', :class => "form-horizontal ajax_form", :method => :post do %>
<%#= form_tag url_for(:controller => "catalog", :action => "ucsb_email"), :id => 'email_form', :class => "form-horizontal ajax_form", :method => :post do %>

  <div class="modal-body">
    <%= render :partial=>'/flash_msg' %>
    <div class="control-group">
      <label class="control-label" for="to">
        <%= t('blacklight.email.form.to') %>
      </label>
      <div class="controls">

        <%= text_field_tag :to, params[:to] %><br/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="message">
        <%= t('blacklight.email.form.message') %>
      </label>
      <div class="controls">
      <%= text_area_tag :message, params[:message] %>
       </div>
    </div>

    <% @documents.each do |doc| %>
      <%=hidden_field_tag "id[]", doc.get(:id)%>
    <% end %>
    <%- if params[:sort] -%>
      <%= hidden_field_tag "sort", params[:sort] %>
    <%- end -%>
    <%- if params[:per_page] -%>
      <%= hidden_field_tag "per_page", params[:per_page] %>
    <%- end -%>
  </div>
  <div class="modal-footer">
  <button type="submit" class="btn btn-primary"> <%= t('blacklight.sms.form.submit') %></button>
  </div>
<% end %>
