<% url = APP_CONFIG['rails_url'] %>
<div id="etds_collections_body">

  <p class="collections_header">Browse By Collection</p>
<!--div id="etds_collections_container"-->

  <div id="etds_view_link">
    <p>Current collections are listed below. Click on the image or link below to see the items in each collection.</p>
  </div>

  <div id="etds_collections_sidebar_image">
      <!-- insert your sidebar items here -->
      <!--img alt="body_image" src="blacklight/index_body_image.jpg", width="400"></img-->
      <%#= image_tag("blacklight/index_body_image.jpg", width: '400') %>
      <a  href="/catalog?f%5Bobject_type_sim%5D%5B%5D=Thesis+or+dissertation"><%= image_tag("blacklight/ETD_Collection_Crop_150x150.jpg") %></a>
      <!--<p>Photo by Patricia Marroquin</p>-->
  </div>
  <br/>
<!--/div>

<div id="etds_collections_container_2"-->
  <div id="etds_collections_content">
    <strong><a href="/catalog?f%5Bobject_type_sim%5D%5B%5D=Thesis+or+dissertation">Electronic Theses and Dissertations</a></strong>
    <!--Currently, more than  <%= @count %> 850 theses and dissertations from 2011-2013 can -->
    <p>
In partnership with the Graduate Division, the UCSB Library is making available theses and dissertations produced by UCSB students. Currently included in ADRL are theses and dissertations that were originally filed electronically, starting in 2011. In future phases of ADRL, all theses and dissertations created by UCSB students will be digitized and made available    
<br /><br />

  </div>
<!--/div-->
</div>


<%#= render 'search_sidebar' %>


