     
      <% # header bar for doc items in index view -%>
      <div class="footer">
        
        <%- # main title container for doc partial view -%>
         <h5 class="index_title">
	  Test Footer
        </h5>

      </div>
      
