  <%= form_tag search_action_url, :method => :get, :class => 'search-query-form form-inline clearfix' do %>
    <%= search_as_hidden_fields(:omit_keys => [:q, :search_field, :qt, :page]).html_safe %>

    <% unless search_fields.empty? %>
      <div class="pull-left">
        <label for="search_field" class="hide-text"><%= t('blacklight.search.form.search_field.label') %></label>
        <%= select_tag(:search_field, options_for_select(search_fields, h(params[:search_field])), :title => t('blacklight.search.form.search_field.title'), :class=>"search_field input-small") %>
        <span class="hide-text"><%= t('blacklight.search.form.search_field.post_label') %></span>
      </div>
      <% end %>
       <div class="input-append pull-left">
        <label for="q" class="hide-text"><%= t('blacklight.search.form.q') %></label>
         <%= text_field_tag :q, params[:q], :placeholder => t('blacklight.search.form.q'), :class => "search_q q", :id => "q", :autofocus => should_autofocus_on_search_box? %>

        <button type="submit" class="btn btn-primary search-btn" id="search">
          <span class="submit-search-text"></span>
          <i class="icon-search icon-white"></i>
        </button>
       </div>

  <% end %>

<!-- Advanced search link -->
<!-- <%#= link_to_unless(current_user.nil?, 'Advanced Search', params.merge(:controller=>"advanced", :action=>"index") , :class=>"advanced_search") %> -->
