<%# default partial to display solr document fields in catalog show view -%>
<% url = APP_CONFIG['rails_url'] %>

<% load_file_icons %>
<% load_file_extensions %>
<% check_on_campus %>

<%= "search_session_params" %>
<%= search_session_params(search_session[:counter]) %> </br>
<%= "search_session" %>
<%= search_session[:counter] %>

<%- on_campus = session[:on_campus] %>
<%- pid = document["id"] -%>
<%- #parse object prodile -%>
<%- parsed_json = JSON.parse(document['object_profile_ssm'][0]) -%>
<%- session[:etd_pid] = pid -%>

<%- e = ETD.find(pid) -%>
<%- embargo = e.rightsMetadata.embargo_release_date -%>
<% if (e.inner_object.state == 'D') && (current_user.nil? || !current_user.groups.include?("admin")) %>
  <h4><font color="red">This dissertation has been removed. </font></h4>
<% else %>
<dl class="dl-horizontal  dl-invert">
  <% document_show_fields(document).each do |solr_fname, field| -%>
    <% if should_render_show_field? document, field %>
	    <dt class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_label document, :field => solr_fname %></dt>
	    <dd class="blacklight-<%= solr_fname.parameterize %>"><%= render_document_show_field_value document, :field => solr_fname %></dd>
    <% end -%>
  <% end -%>
  <%- if !(current_user.nil?) && ( (can?(:edit, e)) || (current_user.groups.include?("admin")) ) %>
    <div id="slide_link"><a href="<%= url %>etds/<%= pid%>" class="slide_button"><b>Edit</b></a></div>
  <%- end %>

  <%- if !(current_user.nil?) && (can?(:delete, e)) %>
    <div id="slide_link"><a href="<%= url %>delete/<%= pid%>" target="_blank" class="slide_button"><b>Delete</b></a></div> 
  <%- end %>
</dl>

<%- request_ip = request.remote_ip -%>
<p> 
<%#= @req_ip %>
<%#= @remote_ip %>
<!-- request_ip -->
<%#= request_ip %>
</p>

<%#- on_campus = session[:on_campus] %>

<% if !embargo.nil? %>
  <% if !embargo.blank? %>
    <%- embargo_past = Date.parse(embargo).past? %>
    <%- embargo_date = format_embargoed_date(embargo) %>
  <% end %>
<% end %>

</br>
<div id="slide_panel">
        <div class="contentContainer">
             <!--h4><div class="contentCol1">Additional Resources:</div></h4-->
             <ln/> 
            <%-# Adding datastreams  -%> 
             <% c_ucsb = 0 %> 
	     <% s_table = Hash.new %>
             <%- parsed_json["datastreams"].each do |dsId, dsFields|  -%>
             <%- case dsId -%>   
             <%- when 'descMetadata' -%>         
		<%- c_ucsb+= 1 %>
		<%- content_type = dsFields['dsMIME'] %>
		<%- label = (dsFields['dsLabel']) %>
		<% ext_path = (@ext_hash[(dsFields['dsMIME'])]).to_s %>
             	<%-  dsName = 'MODS Metadata'  -%>

             <%- when 'dataContent' -%>
		<%#- label = (dsFields['dsLabel']) + (dsFields['dsMIME']) %>
		<%- c_ucsb+= 1 %>
		<%- content_type = dsFields['dsMIME'] %>
		<%- label = (dsFields['dsLabel']) %>
		<% ext_path = (@ext_hash[(dsFields['dsMIME'])]).to_s %>
		<% icons_path = @icons_hash[(dsFields['dsMIME'])] %>
		<% if (icons_path.nil? || icons_path.blank?) %>
		  <% icons_path = @icons_hash['unknown'] %>
		<% end %>

                <%#-  dsName = 'Data Content'  -%>
             	<%-  dsName = 'Full-text thesis or dissertation'  -%>
	     	<% size = number_to_human_size(dsFields['dsSize'], precision: 2) %>	

             <%- when 'DC' -%>
             <%-  next  -%>
             <%- when 'properties' -%>
             <%-  next  -%>
             <%- when 'rightsMetadata' -%>
             <%-  next  -%> 
             <%- when 'RELS-EXT' -%>
             <%-  next  -%> 
             <%- else -%>
		<%- label = (dsFields['dsLabel']) %>
		<%- c_ucsb+= 1 %>
		<%- content_type = dsFields['dsMIME'] %>

		<% ext_path = (@ext_hash[(dsFields['dsMIME'])]).to_s %>
		<% icons_path = @icons_hash[(dsFields['dsMIME'])] %>
		<% if (icons_path.nil? || icons_path.blank?) %>
		  <% icons_path = @icons_hash['unknown'] %>
		<% end %>

             	<%-  dsName = 'Supplementary File'  -%> 
	     	<% size = number_to_human_size(dsFields['dsSize'], precision: 2) %>	
             <%- end  %>

 
             <%- if !dsFields['dsCreateDate'].to_s.empty? && dsId != 'RELS-EXT' -%> 
		<%- if (dsName.include?('MODS Metadata')) %>
                  <div id="view_mods_link">
		    <% p_values = %w[] %>
		    <% p_values.to_a()%>
		    <% p_values.push(pid) %>
		    <% p_values.push(dsId) %>
		    <% p_values.push(label + ext_path) %>
		    <% p_values.push(content_type) %>
		    <% s_table[c_ucsb.to_s] = p_values %>

		    <div class="contentCol3"><a href="<%= url %>welcome/content?cu=<%= c_ucsb.to_s %>" target="_blank"><b>View MODS XML</b></a></div>
		  </div>
		  <div id="object_table">
		    <table>
		      <tr>
	                <th class="header_col_1">File (Download)</th>
        	        <th class="header_col_2">Description</th>
              	      </tr>
		      <%#- if ( !current_user.nil? && (
			(current_user.groups.include?("community") && !(embargo.nil? || embargo_past)) || current_user.groups.include?("public")) ) ||
			( current_user.nil? && on_campus && !embargo.nil? && !embargo_past ) || 
			( current_user.nil? && (!on_campus) ) %>
		      <%- if ( !(embargo.nil? || embargo_past) )%>
		        <%- if ( !current_user.nil? && (
		          current_user.groups.include?("community") || current_user.groups.include?("public")) ) ||
		          ( current_user.nil? ) %>
			  <% if !embargo_date.nil? %>
		            <tr>
		              <td class="access_row" colspan="2">Access: At the author's request, this item is not available until <%= embargo_date %>. </td>
		            </tr>
			  <% else %>
			    <tr>
                              <td class="access_row" colspan="2">Access: At the author's request, this item is not available. </td>
                            </tr>
			  <% end %> <!-- check if embargo_date exists ends -->
		        <%- end %> <!-- user check for embargoed etds ends  -->
		      <% elsif %>
		        <%- if ( !current_user.nil? && current_user.groups.include?("public") ) ||
		          ( current_user.nil? && !on_campus ) %>
		          <tr>
		            <td class="access_row" colspan="2">Access: UC Santa Barbara Only</td>
		          </tr>
		        <% end %> <!-- user check for non-embargoed etds ends -->
		      <%- end %> <!-- embargo check ends -->

		<%- elsif (!current_user.nil?) %>
		  <%- if (current_user.groups.include?("community") && (embargo.nil? || embargo_past) ) || (current_user.groups.include?("admin") || current_user.groups.include?("staff")) %>
		    <tr>
		    <% p_values = %w[] %>
		    <% p_values.to_a()%>
		    <% p_values.push(pid) %>
		    <% p_values.push(dsId) %>
		    <% p_values.push(label + ext_path) %>
		    <% p_values.push(content_type) %>
		    <% s_table[c_ucsb.to_s] = p_values %>

		      <td class="col_1"><a href="<%= url %>welcome/content?cu=<%= c_ucsb.to_s %>" target="_blank"><span id="thumbnail_image"><%= image_tag(icons_path) %></span> <%= label + ext_path %> <span id="file_size"> (<%= size %>) </span></td>
		      <td class="col_2"><%= dsName %></td>
		    <tr>

		  <%- elsif (current_user.groups.include?("community") && !(embargo.nil? || embargo_past)) || (current_user.groups.include?("public")) %>
		    <tr>
		      <td class="col_1"><span id="thumbnail_image"><%= image_tag(icons_path) %></span> <%= label + ext_path %> <span id="file_size"> (<%= size %>) </span></td>
		      <td class="col_2"><%= dsName %></td>
		    <tr>
		  <%- end %> <!-- if internal loop for embargo ends -->
		<%- elsif (current_user.nil?) %>
		  <%- if (on_campus && (embargo.nil? || embargo_past)) %>
		    <tr>
		      <!-- commented for #258 -->
		    <% p_values = %w[] %>
		    <% p_values.to_a()%>
		    <% p_values.push(pid) %>
		    <% p_values.push(dsId) %>
		    <% p_values.push(label + ext_path) %>
		    <% p_values.push(content_type) %>
		    <% s_table[c_ucsb.to_s] = p_values %>

		      <td class="col_1"><a href="<%= url %>welcome/content?cu=<%= c_ucsb.to_s %>" target="_blank"><span id="thumbnail_image"><%= image_tag(icons_path) %></span> <%= label + ext_path %> <span id="file_size"> (<%= size %>) </span></td>
		      <td class="col_2"><%= dsName %></td>
		    <tr>

		  <%- elsif (on_campus && !(embargo.nil? || embargo_past)) || (!on_campus) %>
		    <tr>
		      <td class="col_1"><span id="thumbnail_image"><%= image_tag(icons_path) %></span> <%= label + ext_path %> <span id="file_size"> (<%= size %>) </span></td>
		      <td class="col_2"><%= dsName %></td>
		    <tr>
		  <%- end %> <!-- on_campus && embargo.nil? loop ends -->

		<%- end %> <!-- {if (dsName.include?('MODS Metadata'))} loop ends -->
              <!--/br--> 
             <%- end -%> <!-- {if !dsFields['dsCreateDate'].to_s.empty? && dsId != 'RELS-EXT'} loop ends -->
             <%- end -%> <!-- {parsed_json} loop ends -->

	     <% session[:s_table] = s_table %>

	     </table>
	   </div> <!-- div object_table ends -->

        </div> <!-- div contentContainer ends -->
</div> <!-- div slide_panel ends -->
<% end %>
