// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$index_body_image: 'blacklight/index_body_image.jpg';

html {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

#welcome_body {
  font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: white repeat fixed;
  color: #5D5D5D;
  /* } /** welcome_body ends here */
  /*********************Site content for index page starts here ********************/
  /*********************Site content for index page ends here ********************/
}

#welcome_body .p {
  padding: 0 0 0px 0;
  line-height: 1.5em;
  font: normal .80em 'trebuchet ms', arial, sans-serif;
}

#welcome_body .img {
  border: 0;
}

#welcome_body h1, #welcome_body h2, #welcome_body h4, #welcome_body h5 {
  font: normal 175% 'century gothic', arial, sans-serif;
  color: #43423F;
  margin: 0 0 15px 0;
  padding: 5px 0 5px 0;
}

#welcome_body h2 {
  font: normal 175% 'century gothic', arial, sans-serif;
  color: #B60000;
  padding: 15px 0 5px 0;
}

#welcome_body h3 {
  font: normal 165% 'century gothic', cursive, arial;
}

#welcome_body h6 {
  font: normal 250% 'century gothic', arial, sans-serif;
}

#welcome_body h4, #welcome_body h5 {
  margin: 0;
  padding: 0 0 5px 0;
  font: normal 120% arial, sans-serif;
  color: #B60000;
}

#welcome_body h5 {
  font: italic 95% arial, sans-serif;
  color: #888;
}

#welcome_body h6 {
  color: #362C20;
}

#welcome_body a, #welcome_body a:hover {
  background: transparent;
  outline: none;
  text-decoration: underline;
  color: #51A9FB;
}

#welcome_body a:hover {
  text-decoration: none;
  color: #5D5D5D;
}

#welcome_body ul {
  margin: 2px 0 22px 17px;
}

#welcome_body ul li {
  list-style-type: circle;
  margin: 0 0 6px 0;
  padding: 0 0 4px 5px;
}

#welcome_body ol {
  margin: 8px 0 22px 20px;
}

#welcome_body ol li {
  margin: 0 0 11px 0;
}

#welcome_body .left {
  float: left;
  width: auto;
  margin-right: 10px;
}

#welcome_body .right {
  float: right;
  width: auto;
  margin-left: 10px;
}

#welcome_body .center {
  display: block;
  text-align: center;
  margin: 20px auto;
}

#welcome_body #main, #welcome_body #header, #welcome_body #logo, #welcome_body #menubar, #welcome_body #welcome_site_content, #welcome_body #footer {
  margin-left: auto;
  margin-right: auto;
}

#welcome_body #main {
  width: 1035px;
  margin: 0px auto;
}

#welcome_body #welcome_site_content {
  width: 1035px;
  overflow: hidden;
  margin: 44px auto 0 auto;
  background: white;
  border-bottom: 0;
  color: #5D5D5D;
}

#welcome_body #welcome_sidebar_container {
  float: right;
  width: 400px;
  height: 250px;
  padding: 10px 20px 20px 0;
  #padding: 0px 20px 35px 0px;
  /* border: 3px solid magenta; */
}

#welcome_body .welcome_sidebar_top, #welcome_body .welcome_sidebar_base {
  width: 400px;
  height: 14px;
  background: transparent url(side_top.png) no-repeat;
}

#welcome_body .welcome_sidebar_base {
  background: url(side_base.png) no-repeat;
  width: 400px;
  /* border: 3px solid green; */
}

#welcome_body .welcome_sidebar {
  float: right;
  width: 400px;
  height: 250px;
  padding: 0;
  margin: 0 0 4px 0;
  /* border: 3px solid green; */
}

#welcome_body .welcome_sidebar_item {
  background: #FFF;
  #padding: 0 2px;
  #background: transparent image_url($index_body_image) no-repeat top right;
  width: 400px;
  height: 200px;
  padding: 35px 0 0 35px;
  overflow: auto;
  /* border: 3px solid blue; */
}

#welcome_body .welcome_sidebar_item ul {
  width: 178px;
  padding: 0px 0 0 0;
  margin: 0px 0 0px 0;
}

#welcome_body .welcome_sidebar_item li {
  list-style: none;
  padding: 0 0 6px 0;
  margin: 0;
}

#welcome_body .welcome_sidebar_item li a, #welcome_body .welcome_sidebar_item li a:hover {
  padding: 0 0 0 35px;
  display: block;
  background: transparent url(link.png) no-repeat left center;
}

#welcome_body .welcome_sidebar_item li a.selected {
  color: #444;
  text-decoration: none;
}

#welcome_body #welcome_content {
  text-align: left;
  width: 600px;
  padding: 15px 0 20px 0;
  margin: 0;
  font: 100%;
}

#welcome_body #content ul {
  margin: 2px 0 12px 0px;
}

#welcome_body #content ul li {
  list-style-type: none;
  background: url(bullet.png) no-repeat;
  margin: 0 0 2px 0;
  padding: 0 0 4px 25px;
  line-height: 1.5em;
}

/** welcome_body ends here */

#welcome_contact_us welcome_body {
  font: normal .80em 'trebuchet ms', arial, sans-serif;
  background: white repeat fixed;
  color: #5D5D5D;
}

#welcome_contact_us h3 {
  font: normal 165% 'century gothic', cursive, arial;
}

#welcome_contact_us h4, #welcome_contact_us h5 {
  margin: 0;
  padding: 0 0 5px 0;
  font: normal 120% arial, sans-serif;
  color: #B60000;
}

#welcome_contact_us a, #welcome_contact_us a:hover {
  background: transparent;
  outline: none;
  text-decoration: underline;
  color: #51A9FB;
}

#welcome_contact_us a:hover {
  text-decoration: none;
  color: #5D5D5D;
}

#welcome_contact_us ul {
  margin: 2px 0 22px 17px;
}

#welcome_contact_us ul li {
  list-style-type: circle;
  margin: 0 0 6px 0;
  padding: 0 0 4px 5px;
}

#welcome_contact_us ol {
  margin: 8px 0 22px 20px;
}

#welcome_contact_us ol li {
  margin: 0 0 11px 0;
}

/* welcome_contact_us ends here */

#etds_collections_body h1 {
  font: normal 275% 'century gothic', arial, sans-serif;
  color: #43423F;
  /*margin: 0 0 15px 0;*/
  /*padding: 5px 0 5px 0;*/
}

/* etds_collections_body ends */

/* about page begins here */

#about_main_body {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
}

#about_body {
  width: 600px;
}

#about_main_body h2 {
  font: bold 28px 'Helvetica Neue', Helvetica,Arial,sans-serif;
  display: inline-block;
  //border: 3px solid magenta;
}

#about_body p {
  font: 14px 'Helvetica Neue', Helvetica,Arial,sans-serif;
  line-height: 1.2;
}

#about_body a {
  font: 14px 'Helvetica Neue', Helvetica,Arial,sans-serif;
  line-height: 16px;
  color: #004E6E;
}


.contact_form_alert {
  width: 80%;
}

