  <div class="util-links-other">
    <% if render_bookmarks_control? %>
      <%= link_to t('blacklight.header_links.bookmarks'), bookmarks_path %>
    <% end %>
    <!-- &nbsp; | &nbsp; -->
    &nbsp;&nbsp;&nbsp;
    <%= link_to t('blacklight.header_links.search_history'), search_history_path %>
    <% if has_user_authentication_provider? and current_user %>
    <!-- &nbsp; | &nbsp; -->
    &nbsp;&nbsp;&nbsp;
      <%#= link_to t('blacklight.header_links.saved_searches'), saved_searches_path %>
    <% end %>
  </div>


  <% if has_user_authentication_provider? %>
    <div class="util-links-login">
      <% if current_user %>
	&nbsp;&nbsp;
        <%= link_to t('blacklight.header_links.logout'), destroy_user_session_path %> 
	<span class = "user_logged" >
	  <%= "[#{ link_to current_user, edit_user_registration_path }]".html_safe unless current_user.to_s.blank? %>
	</span>
      <% else %>
        <%= link_to t('blacklight.header_links.login'), new_user_session_path %>
      <% end %>
    </div>

  <% end %>

